<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.codelabor.example.emp.dao.EmpDao">
	<!-- <resultMap id="empDtoMap" type="empDto"> <id column="EMPNO" property="empNo"/> 
		<result column="COMM" property="comm" /> <result column="SAL" property="sal" 
		/> <result column="MGR" property="mgr" /> <result column="JOB" property="job" 
		/> <result column="HIREDATE" property="hireDate" /> <result column="ENAME" 
		property="ename" /> <result column="DEPTNO" property="deptNo" /> </resultMap> -->
	<!-- select -->
	<select id="exampleSelectEmp" resultType="empDto">
		select * from emp where
		empNo = #{empNo}
	</select>
	<select id="exampleSelectEmpList" resultType="empDto">
		select * from emp
	</select>
	<select id="exampleSelectEmpListByDeptNo" resultType="empDto">
		select *
		from emp where deptno = #{deptNo}
	</select>

	<!-- insert -->
	<insert id="exampleInsertEmp" parameterType="EmpDto">
		insert into
		emp (
		empno, ename, deptno, job, mgr, hiredate, comm, sal
		) values (
		#{empNo}, #{ename}, #{deptNo}, #{job},
		#{mgr}, #{hireDate}, #{comm}, #{sal}
		)
	</insert>

	<!-- update -->
	<update id="exampleUpdateEmp" parameterType="EmpDto">
		update emp set
		ename = #{ename},
		deptno = #{deptNo},
		job = #{job},
		mgr = #{mgr},
		hiredate = #{hireDate},
		comm = #{comm},
		sal = #{sal}
		where
		empno = #{empNo}
	</update>

	<!-- delete -->
	<delete id="exampleDeleteEmp" parameterType="int">
		delete from emp where empno = #{empNo}
	</delete>
</mapper>