<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean
		id="signDAO"
		class="org.codelabor.system.sign.daos.SignDAOImpl"
		parent="baseDAO">
		<property
			name="idGenerationService"
			ref="sequenceSignIdGenerationService"/>
	</bean>
	<bean
		id="signManager"
		class="org.codelabor.system.sign.managers.SignManagerImpl"
		parent="baseManager">
		<property name="signDAO" ref="signDAO"/>
	</bean>
</beans>
