<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<aop:config>
		<!-- point cut -->
		<aop:pointcut id="controllerMethod"
			expression="execution(public * org.codelabor..*Controller.*(..))" />
		<aop:pointcut id="serviceMethod"
			expression="execution(public * org.codelabor..*Service.*(..))" />
		<aop:pointcut id="managerMethod"
			expression="execution(public * org.codelabor..*Manager.*(..))" />
		<aop:pointcut id="daoMethod"
			expression="execution(public * org.codelabor..*Dao.*(..))" />

		<!-- aspect -->
		<aop:aspect ref="sniffingAdvice">
			<!-- service -->
			<aop:before method="dumpArguments" pointcut-ref="serviceMethod" />
			<aop:after-throwing throwing="exception" method="dumpException"
				pointcut-ref="serviceMethod" />
			<aop:around method="dumpElapsedTime" pointcut-ref="serviceMethod" />
			<aop:after-returning returning="returnObject"
				method="dumpReturn" pointcut-ref="serviceMethod" />
		</aop:aspect>

	</aop:config>

	<bean id="sniffingAdvice" class="org.codelabor.system.sniffer.advice.SniffingAdvice">
		<property name="order" value="1" />
	</bean>

</beans>
