<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:messages</value>
				<!-- spring security -->
				<value>classpath:org/springframework/security/messages</value>

				<!-- hibernate validator  -->
				<value>classpath:org/hibernate/validator/ValidMessages</value>

				<!-- example -->
				<value>classpath:messages/example/messages</value>

				<!-- example emp -->
				<value>classpath:messages/example/emp/button</value>
				<value>classpath:messages/example/emp/errors</value>
				<value>classpath:messages/example/emp/caption</value>
				<value>classpath:messages/example/emp/heading</value>
				<value>classpath:messages/example/emp/label</value>
				<value>classpath:messages/example/emp/menu</value>
				<value>classpath:messages/example/emp/messages</value>
				<value>classpath:messages/example/emp/title</value>

				<!-- example validation -->
				<value>classpath:messages/example/validation/button</value>
				<value>classpath:messages/example/validation/errors</value>
				<value>classpath:messages/example/validation/caption</value>
				<value>classpath:messages/example/validation/heading</value>
				<value>classpath:messages/example/validation/label</value>
				<value>classpath:messages/example/validation/menu</value>
				<value>classpath:messages/example/validation/messages</value>
				<value>classpath:messages/example/validation/title</value>

				<!-- system -->
				<value>classpath:messages/system/alternate</value>
				<value>classpath:messages/system/button</value>
				<value>classpath:messages/system/errors</value>
				<value>classpath:messages/system/caption</value>
				<value>classpath:messages/system/heading</value>
				<value>classpath:messages/system/label</value>
				<value>classpath:messages/system/menu</value>
				<value>classpath:messages/system/messages</value>
				<value>classpath:messages/system/title</value>

				<!-- common -->
				<value>classpath:messages/common/alternate</value>
				<value>classpath:messages/common/button</value>
				<value>classpath:messages/common/errors</value>
				<value>classpath:messages/common/caption</value>
				<value>classpath:messages/common/heading</value>
				<value>classpath:messages/common/label</value>
				<value>classpath:messages/common/menu</value>
				<value>classpath:messages/common/messages</value>
				<value>classpath:messages/common/title</value>

				<!-- scw -->
				<value>classpath:messages/scw/alternate</value>
				<value>classpath:messages/scw/button</value>
				<value>classpath:messages/scw/errors</value>
				<value>classpath:messages/scw/caption</value>
				<value>classpath:messages/scw/heading</value>
				<value>classpath:messages/scw/label</value>
				<value>classpath:messages/scw/menu</value>
				<value>classpath:messages/scw/messages</value>
				<value>classpath:messages/scw/title</value>

				<!-- stw -->
				<value>classpath:messages/stw/alternate</value>
				<value>classpath:messages/stw/button</value>
				<value>classpath:messages/stw/errors</value>
				<value>classpath:messages/stw/caption</value>
				<value>classpath:messages/stw/heading</value>
				<value>classpath:messages/stw/label</value>
				<value>classpath:messages/stw/menu</value>
				<value>classpath:messages/stw/messages</value>
				<value>classpath:messages/stw/title</value>

				<!-- paw -->
				<value>classpath:messages/paw/alternate</value>
				<value>classpath:messages/paw/button</value>
				<value>classpath:messages/paw/errors</value>
				<value>classpath:messages/paw/caption</value>
				<value>classpath:messages/paw/heading</value>
				<value>classpath:messages/paw/label</value>
				<value>classpath:messages/paw/menu</value>
				<value>classpath:messages/paw/messages</value>
				<value>classpath:messages/paw/title</value>

				<!-- pam -->
				<value>classpath:messages/pam/alternate</value>
				<value>classpath:messages/pam/button</value>
				<value>classpath:messages/pam/errors</value>
				<value>classpath:messages/pam/caption</value>
				<value>classpath:messages/pam/heading</value>
				<value>classpath:messages/pam/label</value>
				<value>classpath:messages/pam/menu</value>
				<value>classpath:messages/pam/messages</value>
				<value>classpath:messages/pam/title</value>

				<!-- hpa -->
				<value>classpath:messages/hpa/alternate</value>
				<value>classpath:messages/hpa/button</value>
				<value>classpath:messages/hpa/errors</value>
				<value>classpath:messages/hpa/caption</value>
				<value>classpath:messages/hpa/heading</value>
				<value>classpath:messages/hpa/label</value>
				<value>classpath:messages/hpa/menu</value>
				<value>classpath:messages/hpa/messages</value>
				<value>classpath:messages/hpa/title</value>
			</list>
		</property>
		<property name="cacheSeconds" value="1" />
	</bean>

</beans>
