<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<aop:aspectj-autoproxy />

	<aop:config>
		<!-- pointcut for sub system -->
		<aop:pointcut expression="execution(* org.codelabor..*.*(..))"
			id="pointcutForCodelabor" />

		<aop:aspect ref="sniffingAspect">
			<aop:before method="dumpArguments" pointcut-ref="pointcutForCodelabor" />
			<!-- replaced by exception resolver <aop:after-throwing method="dumpException" 
				throwing="exception" pointcut-ref="pointcutForDebug" /> -->
			<!-- does not work <aop:around method="dumpElapsedTime" pointcut-ref="pointcutForCodelabor" 
				/> -->
			<!-- does not work <aop:after-returning method="dumpReturn" returning="returnObject" 
				pointcut-ref="pointcutForCodelabor" /> -->
		</aop:aspect>

	</aop:config>

</beans>
