<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="oracleDataSource" class="net.sf.log4jdbc.AnyframeDataSourceSpy">
		<property name="dataSource" ref="realDatasource"/>
	</bean>

	<!-- jdbc -->
	<bean id="realDatasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    <property name="driverClassName" value="${jdbc.driver.class.name}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.passowrd}"/>
	</bean>

	<!-- jndi -->
	<!--
	<bean id="realDatasource"
		class="org.springframework.jndi.JndiObjectFactoryBean">
	    <property name="jndiName" value="${jndi.name}"/>
		<property name="jndiTemplate" ref="jndiTemplate"/>
	</bean>
	-->
</beans>
