<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="oracleDataSource" />
	</bean>

	<!--
	<bean id="transactionManager"
		class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="transactionManagerName"
		value="java:/TransactionManager" /> <property name="jndiTemplate"
		ref="jndiJeusTemplate"></property> <property
		name="allowCustomIsolationLevels" value="true"/> </bean>
	 -->

	<!-- tx advice -->
	<aop:config>
		<aop:advisor advice-ref="serviceTxAdvice" pointcut-ref="serviceMethodPointcut" />
		<aop:advisor advice-ref="managerTxAdvice" pointcut-ref="managerMethodPointcut" />
		<aop:advisor advice-ref="daoTxAdvice" pointcut-ref="daoMethodPointcut" />
	</aop:config>
</beans>