<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="jndiTemplate" class="org.springframework.jndi.JndiTemplate">
	    <property name="environment">
	       <props>
	          <prop key="java.naming.factory.initial">${java.naming.factory.initial}</prop>
	          <prop key="java.naming.provider.url">${java.naming.provider.url}</prop>
	          <prop key="java.naming.factory.url.pkgs">${java.naming.factory.url.pkgs}</prop>
	          <prop key="java.naming.security.principal">${java.naming.security.principal}</prop>
	          <prop key="java.naming.security.credentials">${java.naming.security.credentials}</prop>
	       </props>
	    </property>
	</bean>
</beans>
