<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:messages</value>
				<!-- example -->
				<value>classpath:messages/example/messages</value>
				<value>classpath:messages/example/emp/errors</value>
				<value>classpath:messages/example/emp/label</value>
				<value>classpath:messages/example/emp/menu</value>
				<value>classpath:messages/example/emp/messages</value>
				<value>classpath:messages/example/validation/heading</value>
				<value>classpath:messages/example/validation/messages</value>				
				<value>classpath:messages/example/validation/title</value>

				<!-- system -->
				<value>classpath:messages/system/caption</value>
				<value>classpath:messages/system/heading</value>
				<value>classpath:messages/system/label</value>
				<value>classpath:messages/system/menu</value>
				<value>classpath:messages/system/messages</value>
				<value>classpath:messages/system/title</value>
				<value>classpath:messages/system/button</value>
			</list>
		</property>
		<property name="cacheSeconds" value="1" />
	</bean>

</beans>
