<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 기본 휴일, 영업일 캘린더 -->
	<bean
		id="holidayCalendarService"
		class="org.codelabor.commons.calendar.services.HolidayCalendarServiceImpl">
		<property name="formatPattern" value="yyyy-MM-dd"/>
		<property name="dateRangeFrom" value="2013-01-01"/>
		<property name="dateRangeTo" value="2013-12-31"/>
		<property name="holidayMap">
			<map>
				<!-- 2010 공휴일, 토요일, 일요일 -->
				<!-- 1월 -->
				<entry key="2010-01-01" value="신정" />
				<entry key="2010-01-02" value="토요일" />
				<entry key="2010-01-03" value="일요일" />
				<entry key="2010-01-09" value="토요일" />
				<entry key="2010-01-10" value="일요일" />
				<entry key="2010-01-16" value="토요일" />
				<entry key="2010-01-17" value="일요일" />
				<entry key="2010-01-23" value="토요일" />
				<entry key="2010-01-24" value="일요일" />
				<entry key="2010-01-30" value="토요일" />
				<entry key="2010-01-31" value="일요일" />
				<!-- 2월 -->
				<entry key="2010-02-06" value="토요일" />
				<entry key="2010-02-07" value="일요일" />
				<entry key="2010-02-13" value="설연휴" />
				<entry key="2010-02-14" value="설연휴" />
				<entry key="2010-02-15" value="설연휴" />
				<entry key="2010-02-20" value="토요일" />
				<entry key="2010-02-21" value="일요일" />
				<entry key="2010-02-27" value="토요일" />
				<entry key="2010-02-28" value="일요일" />
				<!-- 3월 -->
				<entry key="2010-03-01" value="삼일절" />
				<entry key="2010-03-06" value="토요일" />
				<entry key="2010-03-07" value="일요일" />
				<entry key="2010-03-13" value="토요일" />
				<entry key="2010-03-14" value="일요일" />
				<entry key="2010-03-20" value="토요일" />
				<entry key="2010-03-21" value="일요일" />
				<entry key="2010-03-27" value="토요일" />
				<entry key="2010-03-28" value="일요일" />
				<!-- 4월 -->
				<entry key="2010-04-03" value="토요일" />
				<entry key="2010-04-04" value="일요일" />
				<entry key="2010-04-10" value="토요일" />
				<entry key="2010-04-11" value="일요일" />
				<entry key="2010-04-17" value="토요일" />
				<entry key="2010-04-18" value="일요일" />
				<entry key="2010-04-24" value="토요일" />
				<entry key="2010-04-25" value="일요일" />
				<!-- 5월 -->
				<entry key="2010-05-01" value="토요일" />
				<entry key="2010-05-02" value="일요일" />
				<entry key="2010-05-05" value="어린이날" />
				<entry key="2010-05-08" value="토요일" />
				<entry key="2010-05-09" value="일요일" />
				<entry key="2010-05-15" value="토요일" />
				<entry key="2010-05-16" value="일요일" />
				<entry key="2010-05-21" value="석가탄신일" />
				<entry key="2010-05-22" value="토요일" />
				<entry key="2010-05-23" value="일요일" />
				<!-- 6월 -->
				<entry key="2010-06-05" value="토요일" />
				<entry key="2010-06-06" value="현충일" />
				<entry key="2010-06-12" value="토요일" />
				<entry key="2010-06-13" value="일요일" />
				<entry key="2010-06-19" value="토요일" />
				<entry key="2010-06-20" value="일요일" />
				<entry key="2010-06-26" value="토요일" />
				<entry key="2010-06-27" value="일요일" />
				<!-- 7월 -->
				<entry key="2010-07-03" value="토요일" />
				<entry key="2010-07-04" value="일요일" />
				<entry key="2010-07-10" value="토요일" />
				<entry key="2010-07-11" value="일요일" />
				<entry key="2010-07-17" value="제헌절" />
				<entry key="2010-07-18" value="일요일" />
				<entry key="2010-07-24" value="토요일" />
				<entry key="2010-07-25" value="일요일" />
				<entry key="2010-07-31" value="토요일" />
				<!-- 8월 -->
				<entry key="2010-08-01" value="일요일" />
				<entry key="2010-08-07" value="토요일" />
				<entry key="2010-08-08" value="일요일" />
				<entry key="2010-08-14" value="토요일" />
				<entry key="2010-08-15" value="광복절" />
				<entry key="2010-08-21" value="토요일" />
				<entry key="2010-08-22" value="일요일" />
				<entry key="2010-08-28" value="토요일" />
				<entry key="2010-08-29" value="일요일" />
				<!-- 9월 -->
				<entry key="2010-09-04" value="토요일" />
				<entry key="2010-09-05" value="일요일" />
				<entry key="2010-09-11" value="토요일" />
				<entry key="2010-09-12" value="일요일" />
				<entry key="2010-09-18" value="토요일" />
				<entry key="2010-09-19" value="일요일" />
				<entry key="2010-09-21" value="추석연휴" />
				<entry key="2010-09-22" value="추석연휴" />
				<entry key="2010-09-23" value="추석연휴" />
				<entry key="2010-09-25" value="토요일" />
				<entry key="2010-09-26" value="일요일" />
				<!-- 10월 -->
				<entry key="2010-10-02" value="토요일" />
				<entry key="2010-10-03" value="일요일" />
				<entry key="2010-10-09" value="토요일" />
				<entry key="2010-10-10" value="일요일" />
				<entry key="2010-10-16" value="토요일" />
				<entry key="2010-10-17" value="일요일" />
				<entry key="2010-10-23" value="토요일" />
				<entry key="2010-10-24" value="일요일" />
				<entry key="2010-10-30" value="토요일" />
				<entry key="2010-10-31" value="일요일" />
				<!-- 11월 -->
				<entry key="2010-11-06" value="토요일" />
				<entry key="2010-11-07" value="일요일" />
				<entry key="2010-11-13" value="토요일" />
				<entry key="2010-11-14" value="일요일" />
				<entry key="2010-11-20" value="토요일" />
				<entry key="2010-11-21" value="일요일" />
				<entry key="2010-11-27" value="토요일" />
				<entry key="2010-11-28" value="일요일" />
				<!-- 12월 -->
				<entry key="2010-12-04" value="토요일" />
				<entry key="2010-12-05" value="일요일" />
				<entry key="2010-12-11" value="토요일" />
				<entry key="2010-12-12" value="일요일" />
				<entry key="2010-12-18" value="토요일" />
				<entry key="2010-12-19" value="일요일" />
				<entry key="2010-12-25" value="성탄절" />
				<entry key="2010-12-26" value="일요일" />
				
				<!-- 2013 공휴일, 토요일, 일요일 -->
				<!-- 1월 -->
				<entry key="2013-01-01" value="신정" />
				<entry key="2013-01-05" value="토요일" />
				<entry key="2013-01-06" value="일요일" />
				<entry key="2013-01-12" value="토요일" />
				<entry key="2013-01-13" value="일요일" />
				<entry key="2013-01-19" value="토요일" />
				<entry key="2013-01-20" value="일요일" />
				<entry key="2013-01-26" value="토요일" />
				<entry key="2013-01-27" value="일요일" />
				<!-- 2월 -->
				<entry key="2013-02-02" value="토요일" />
				<entry key="2013-02-03" value="일요일" />
				<entry key="2013-02-09" value="설연휴" />
				<entry key="2013-02-10" value="설연휴" />
				<entry key="2013-02-11" value="설연휴" />
				<entry key="2013-02-16" value="토요일" />
				<entry key="2013-02-17" value="일요일" />
				<entry key="2013-02-23" value="토요일" />
				<entry key="2013-02-24" value="일요일" />
				<!-- 3월 -->
				<entry key="2013-03-01" value="삼일절" />
				<entry key="2013-03-02" value="토요일" />
				<entry key="2013-03-03" value="일요일" />
				<entry key="2013-03-09" value="토요일" />
				<entry key="2013-03-10" value="일요일" />
				<entry key="2013-03-16" value="토요일" />
				<entry key="2013-03-17" value="일요일" />
				<entry key="2013-03-23" value="토요일" />
				<entry key="2013-03-24" value="일요일" />
				<entry key="2013-03-30" value="토요일" />
				<entry key="2013-03-31" value="일요일" />				
				<!-- 4월 -->
				<entry key="2013-04-06" value="토요일" />
				<entry key="2013-04-07" value="일요일" />
				<entry key="2013-04-13" value="토요일" />
				<entry key="2013-04-14" value="일요일" />
				<entry key="2013-04-20" value="토요일" />
				<entry key="2013-04-21" value="일요일" />
				<entry key="2013-04-27" value="토요일" />
				<entry key="2013-04-28" value="일요일" />
				<!-- 5월 -->
				<entry key="2013-05-04" value="토요일" />
				<entry key="2013-05-05" value="일요일" />
				<entry key="2013-05-11" value="토요일" />
				<entry key="2013-05-12" value="일요일" />
				<entry key="2013-05-17" value="석가탄신일" />
				<entry key="2013-05-18" value="토요일" />
				<entry key="2013-05-19" value="일요일" />
				<entry key="2013-05-25" value="토요일" />
				<entry key="2013-05-26" value="일요일" />
				<!-- 6월 -->
				<entry key="2013-06-01" value="토요일" />
				<entry key="2013-06-02" value="일요일" />
				<entry key="2013-06-06" value="현충일" />
				<entry key="2013-06-08" value="토요일" />
				<entry key="2013-06-09" value="일요일" />
				<entry key="2013-06-15" value="토요일" />
				<entry key="2013-06-16" value="일요일" />
				<entry key="2013-06-22" value="토요일" />
				<entry key="2013-06-23" value="일요일" />
				<entry key="2013-06-29" value="토요일" />
				<entry key="2013-06-30" value="일요일" />
				<!-- 7월 -->
				<entry key="2013-07-06" value="토요일" />
				<entry key="2013-07-07" value="일요일" />
				<entry key="2013-07-13" value="토요일" />
				<entry key="2013-07-14" value="일요일" />
				<entry key="2013-07-20" value="토요일" />
				<entry key="2013-07-21" value="일요일" />
				<entry key="2013-07-27" value="토요일" />
				<entry key="2013-07-28" value="일요일" />
				<!-- 8월 -->
				<entry key="2013-08-03" value="일요일" />
				<entry key="2013-08-04" value="토요일" />
				<entry key="2013-08-10" value="일요일" />
				<entry key="2013-08-11" value="토요일" />
				<entry key="2013-08-15" value="광복절" />
				<entry key="2013-08-17" value="토요일" />
				<entry key="2013-08-18" value="일요일" />
				<entry key="2013-08-24" value="토요일" />
				<entry key="2013-08-25" value="일요일" />
				<entry key="2013-08-31" value="토요일" />
				<!-- 9월 -->
				<entry key="2013-09-01" value="일요일" />
				<entry key="2013-09-07" value="토요일" />
				<entry key="2013-09-08" value="일요일" />
				<entry key="2013-09-14" value="토요일" />
				<entry key="2013-09-15" value="일요일" />
				<entry key="2013-09-18" value="추석연휴" />
				<entry key="2013-09-19" value="추석연휴" />
				<entry key="2013-09-20" value="추석연휴" />
				<entry key="2013-09-21" value="토요일" />
				<entry key="2013-09-22" value="일요일" />
				<entry key="2013-09-28" value="토요일" />
				<entry key="2013-09-29" value="일요일" />
				<!-- 10월 -->
				<entry key="2013-10-03" value="개천절" />
				<entry key="2013-10-05" value="토요일" />
				<entry key="2013-10-06" value="일요일" />
				<entry key="2013-10-12" value="토요일" />
				<entry key="2013-10-13" value="일요일" />
				<entry key="2013-10-19" value="토요일" />
				<entry key="2013-10-20" value="일요일" />
				<entry key="2013-10-26" value="토요일" />
				<entry key="2013-10-27" value="일요일" />
				<!-- 11월 -->
				<entry key="2013-11-02" value="토요일" />
				<entry key="2013-11-03" value="일요일" />
				<entry key="2013-11-09" value="토요일" />
				<entry key="2013-11-10" value="일요일" />
				<entry key="2013-11-16" value="토요일" />
				<entry key="2013-11-17" value="일요일" />
				<entry key="2013-11-23" value="토요일" />
				<entry key="2013-11-24" value="일요일" />
				<entry key="2013-11-30" value="토요일" />
				<!-- 12월 -->
				<entry key="2013-12-01" value="일요일" />
				<entry key="2013-12-07" value="토요일" />
				<entry key="2013-12-08" value="일요일" />
				<entry key="2013-12-14" value="토요일" />
				<entry key="2013-12-15" value="일요일" />
				<entry key="2013-12-21" value="토요일" />
				<entry key="2013-12-22" value="일요일" />
				<entry key="2013-12-25" value="성탄절" />
				<entry key="2013-12-28" value="토요일" />
				<entry key="2013-12-29" value="일요일" />
			</map>
		</property>
	</bean>
</beans>
