<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<!-- for Spring security 2.x -->
	<!-- 
	<bean id="userCache"
		class="org.springframework.security.providers.dao.cache.EhCacheBasedUserCache">
		<property name="cache" ref="userEhCache"/>
	</bean>
	 -->
	 
	<!-- for Spring security 3.x -->
	<bean id="userCache"
		class="org.springframework.security.core.userdetails.cache.EhCacheBasedUserCache">
		<property name="cache" ref="userEhCache"/>
	</bean>
	
	<bean id="userEhCache"
		class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="cacheManager"/>
		<property name="cacheName" value="userCache"/>
	</bean>
	
	<bean id="cacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
	</bean>
	
	<bean id="cacheAdministrator"
		class="com.opensymphony.oscache.general.GeneralCacheAdministrator"
		destroy-method="destroy">
		<constructor-arg index="0">
			<props>
				<prop key="cache.capacity">50</prop>
			</props>
		</constructor-arg>
	</bean>

	<bean id="cache" factory-bean="cacheAdministrator"
		factory-method="getCache" />

	<bean id="cacheService"
		class="anyframe.core.cache.impl.DefaultCacheService">
		<property name="cache" ref="cache" />
	</bean>
</beans>
