<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Dispatches requests mapped to org.springframework.web.servlet.mvc.Controller implementations -->
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />

	<!-- for spring mvc -->
	<!--
	<bean
		id="tilesViewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.tiles2.TilesView"/>
	</bean>
	-->

	<!-- for spirng web flow -->
	<bean
		id="ajaxUrlBasedViewResolver"
		class="org.springframework.js.ajax.AjaxUrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.webflow.mvc.view.FlowAjaxTilesView"/>
	</bean>

	<!-- for Spring 3.0.0.M4 -->
	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/classes/definitions/**/tiles-defs.xml</value>
			</list>
		</property>
	</bean>

	<!-- for Spring 3.0.0.M3, 2.5.x -->
	<!--
	<bean id="tilesConfigurer"
		class="com.x.web.tiles2.SpringTilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/classes/definitions/**/tiles-defs.xml</value>
			</list>
		</property>
	</bean>
	-->

	<bean
		id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="104857600"/>
	</bean>
</beans>
