
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common.code" >

	<select id="selectLocationFloorCodeList" resultType="codeDto">
		SELECT /* common.code.selectLocationFloorCodeList */
			groupCd,cmmnCd,cdNm,val1
		FROM (
			SELECT
				TO_CHAR('1') AS groupCd,
				TO_CHAR(B.CMMN_CD) AS cmmnCd,
				TO_CHAR(B.CD_NM) AS cdNm,
				TO_CHAR('') AS val1
			FROM TN_CODE_DTL A, TN_CODE_LANG B
			WHERE A.SCHUL_CD = #{schulCd}
			AND A.DEL_YN = '0'
			AND B.DEL_YN = '0'
			AND A.SCHUL_CD = B.SCHUL_CD
			AND A.CMMN_CD = B.CMMN_CD
			AND A.GROUP_CD = '061'
			AND B.LANG_CD = #{langCd}
			ORDER BY A.STDIL_SEQ ASC
		)
		UNION ALL
		SELECT groupCd,cmmnCd,cdNm,val1
		FROM (
			SELECT
				TO_CHAR('2') AS groupCd
				, TO_CHAR(B.CMMN_CD) AS cmmnCd
				, TO_CHAR(B.CD_NM) AS cdNm
				, TO_CHAR(A.CMMN_CD) AS val1
			FROM(
				SELECT
					CD.SCHUL_CD
					, CD.GROUP_CD
					, CD.CMMN_CD
					, CL.LANG_CD
					, CL.CD_NM
					, CD.VAL1
					, CD.VAl2
					, CD.VAL3
					, CD.VAL4
					, CD.VAL5
					, CD.STDIL_SEQ
				FROM TN_CODE_DTL CD, TN_CODE_LANG CL
				WHERE CD.CMMN_CD = CL.CMMN_CD
				AND CD.SCHUL_CD = #{schulCd}
				AND CD.DEL_YN = '0'
				AND CD.GROUP_CD = '061'
			) A, (
				SELECT
					CD.SCHUL_CD
					, CD.GROUP_CD
					, CD.CMMN_CD
					, CL.LANG_CD
					, CL.CD_NM
					, CD.VAL1
					, CD.VAl2
					, CD.VAL3
					, CD.VAL4
					, CD.VAL5
					, CD.STDIL_SEQ
				FROM TN_CODE_DTL CD, TN_CODE_LANG CL
				WHERE CD.CMMN_CD = CL.CMMN_CD
				AND CD.SCHUL_CD = #{schulCd}
				AND CD.DEL_YN = '0'
				AND CD.GROUP_CD = '062'
			) B
			WHERE A.VAL1 <![CDATA[ <= ]]> B.VAL1
			AND A.VAL2 <![CDATA[ >= ]]> B.VAL1
			ORDER BY A.CD_NM ASC, B.STDIL_SEQ DESC
		)
	</select>

	<select id="selectAyStdrList" resultType="codeDto">
		SELECT /* common.code.selectAyStdrList */
			groupCd
			,cmmnCd
			,cdNm
			,val1
			,CASE
				WHEN cmmncd = Nvl(#{ay}, (
							SELECT ay
							FROM tn_stdr_info
							WHERE prd_begin_ymd = (
									SELECT Min(prd_begin_ymd)
									FROM tn_stdr_info
									WHERE ay <![CDATA[ >= ]]> #{ay}
										AND prd_begin_ymd <![CDATA[ >= ]]> TO_CHAR(SYSDATE, 'yyyyMMdd')
									)
							))
					THEN '1'
				ELSE '0'
				END AS chk
		FROM (
			SELECT DISTINCT '1' AS groupCD
				,TO_CHAR(SUBSTR(NVL(FOND_YMD, #{ay}), 0, 4) + LEVEL - 1) AS cmmnCd
				,TO_CHAR(SUBSTR(NVL(FOND_YMD, #{ay}), 0, 4) + LEVEL - 1) AS cdNm
				,'' AS val1
			FROM TN_SCHUL_INFO
			WHERE SCHUL_CD = #{schulCd}
				AND DEL_YN = '0' connect BY LEVEL <![CDATA[ <= ]]> #{ay} + 3 - SUBSTR(NVL(FOND_YMD, #{ay}), 0, 4)
			ORDER BY 2 DESC
			)
		UNION ALL
		SELECT groupCd
			,cmmnCd
			,cdNm
			,val1
			,CASE
				WHEN cmmncd = Nvl(#{semCd}, (
							SELECT sem_cd
							FROM tn_stdr_info
							WHERE prd_begin_ymd = (
									SELECT Min(prd_begin_ymd)
									FROM tn_stdr_info
									WHERE ay <![CDATA[ >= ]]> #{ay}
										AND prd_begin_ymd <![CDATA[ >= ]]> TO_CHAR(SYSDATE, 'yyyyMMdd')
									)
							))
					AND val1 = Nvl(#{ay}, (
							SELECT ay
							FROM tn_stdr_info
							WHERE prd_begin_ymd = (
									SELECT Min(prd_begin_ymd)
									FROM tn_stdr_info
									WHERE ay <![CDATA[ >= ]]> #{ay}
										AND prd_begin_ymd <![CDATA[ >= ]]> TO_CHAR(SYSDATE, 'yyyyMMdd')
									)
							))
					THEN '1'
				ELSE '0'
				END AS chk
		FROM (
			SELECT '2' AS groupCd
				,TO_CHAR(SEM_CD) AS cmmnCd
				,TO_CHAR((
						SELECT CD_NM
						FROM TN_CODE_LANG
						WHERE SCHUL_CD = #{schulCd}
							AND DEL_YN = '0'
							AND LANG_CD = #{langCd}
							AND CMMN_CD = SEM_CD
						)) AS cdNm
				,TO_CHAR(AY) AS val1
			FROM TN_STDR_INFO A
			WHERE SCHUL_CD = #{schulCd}
				AND DEL_YN = '0'
			ORDER BY AY
				,PRD_BEGIN_YMD
			)
	</select>

	<select id="selectCodeList" parameterType="map" resultType="codeDto">
		SELECT /* common.code.selectCodeList */
			A.SCHUL_CD, A.CMMN_CD, A.GROUP_CD, B.LANG_CD, B.CD_NM,
			A.VAL1, A.VAL2, A.VAL3, A.VAL4, A.VAL5, A.STDIL_SEQ
		FROM TN_CODE_DTL A, TN_CODE_LANG B
		WHERE A.SCHUL_CD = #{schulCd}
		AND A.DEL_YN = '0'
		AND B.DEL_YN = '0'
		AND A.SCHUL_CD = B.SCHUL_CD
		AND A.CMMN_CD = B.CMMN_CD
		AND A.GROUP_CD = #{groupCd}
		AND B.LANG_CD = #{langCd}
		AND ( A.CMMN_CD IS NOT NULL
			<if test="val1!=null and operatorVal1 =='AND'"> AND A.VAL1 = #{val1} </if>
			<if test="val2!=null and operatorVal2 =='AND'"> AND A.VAL2 = #{val2} </if>
			<if test="val3!=null and operatorVal3 =='AND'"> AND A.VAL3 = #{val3} </if>
			<if test="val4!=null and operatorVal4 =='AND'"> AND A.VAL4 = #{val4} </if>
			<if test="val5!=null and operatorVal5 =='AND'"> AND A.VAL5 = #{val5} </if>
			<if test="val1!=null and operatorVal1 =='OR'"> OR A.VAL1 = #{val1} </if>
			<if test="val2!=null and operatorVal2 =='OR'"> OR A.VAL2 = #{val2} </if>
			<if test="val3!=null and operatorVal3 =='OR'"> OR A.VAL3 = #{val3} </if>
			<if test="val4!=null and operatorVal4 =='OR'"> OR A.VAL4 = #{val4} </if>
			<if test="val5!=null and operatorVal5 =='OR'"> OR A.VAL5 = #{val5} </if>
		)
		<if test="sord!=null and sord =='DESC'"> ORDER BY STDIL_SEQ DESC </if>
		<if test="sord!=null and sord =='ASC'"> ORDER BY STDIL_SEQ ASC </if>
	</select>

	<select id="selectCodeInList" parameterType="map" resultType="codeDto">
		SELECT /* common.code.selectCodeInList */
			A.SCHUL_CD, A.CMMN_CD, A.GROUP_CD, B.LANG_CD, B.CD_NM,
			A.VAL1, A.VAL2, A.VAL3, A.VAL4, A.VAL5, A.STDIL_SEQ
		FROM TN_CODE_DTL A, TN_CODE_LANG B
		WHERE A.SCHUL_CD = #{schulCd}
		AND A.DEL_YN = '0'
		AND B.DEL_YN = '0'
		AND A.SCHUL_CD = B.SCHUL_CD
		AND A.CMMN_CD = B.CMMN_CD
		AND A.GROUP_CD IN (${groupCd})
		AND B.LANG_CD = #{langCd}
		AND ( A.CMMN_CD IS NOT NULL
			<if test="val1!=null and operatorVal1 =='AND'"> AND A.VAL1 = #{val1} </if>
			<if test="val2!=null and operatorVal2 =='AND'"> AND A.VAL2 = #{val2} </if>
			<if test="val3!=null and operatorVal3 =='AND'"> AND A.VAL3 = #{val3} </if>
			<if test="val4!=null and operatorVal4 =='AND'"> AND A.VAL4 = #{val4} </if>
			<if test="val5!=null and operatorVal5 =='AND'"> AND A.VAL5 = #{val5} </if>
			<if test="val1!=null and operatorVal1 =='OR'"> OR A.VAL1 = #{val1} </if>
			<if test="val2!=null and operatorVal2 =='OR'"> OR A.VAL2 = #{val2} </if>
			<if test="val3!=null and operatorVal3 =='OR'"> OR A.VAL3 = #{val3} </if>
			<if test="val4!=null and operatorVal4 =='OR'"> OR A.VAL4 = #{val4} </if>
			<if test="val5!=null and operatorVal5 =='OR'"> OR A.VAL5 = #{val5} </if>
		)
		<if test="sord!=null and sord =='DESC'"> ORDER BY STDIL_SEQ DESC </if>
		<if test="sord!=null and sord =='ASC'"> ORDER BY STDIL_SEQ ASC </if>
	</select>

	<select id="selectCode" resultType="codeDto">
		SELECT /* common.code.selectCode */
			A.SCHUL_CD, A.CMMN_CD, A.GROUP_CD, B.LANG_CD, B.CD_NM,
			A.VAL1, A.VAL2, A.VAL3, A.VAL4, A.VAL5, A.STDIL_SEQ
		FROM TN_CODE_DTL A, TN_CODE_LANG B
		WHERE A.SCHUL_CD = #{schulCd}
		AND A.DEL_YN = '0'
		AND B.DEL_YN = '0'
		AND A.SCHUL_CD = B.SCHUL_CD
		AND A.CMMN_CD = B.CMMN_CD
		AND A.GROUP_CD = #{groupCd}
		AND B.LANG_CD = #{langCd}
		AND A.CMMN_CD = #{cmmnCd}
		AND ( A.CMMN_CD IS NOT NULL
			<if test="val1!=null and operatorVal1 =='AND'"> AND A.VAL1 = #{val1} </if>
			<if test="val2!=null and operatorVal2 =='AND'"> AND A.VAL2 = #{val2} </if>
			<if test="val3!=null and operatorVal3 =='AND'"> AND A.VAL3 = #{val3} </if>
			<if test="val4!=null and operatorVal4 =='AND'"> AND A.VAL4 = #{val4} </if>
			<if test="val5!=null and operatorVal5 =='AND'"> AND A.VAL5 = #{val5} </if>
			<if test="val1!=null and operatorVal1 =='OR'"> OR A.VAL1 = #{val1} </if>
			<if test="val2!=null and operatorVal2 =='OR'"> OR A.VAL2 = #{val2} </if>
			<if test="val3!=null and operatorVal3 =='OR'"> OR A.VAL3 = #{val3} </if>
			<if test="val4!=null and operatorVal4 =='OR'"> OR A.VAL4 = #{val4} </if>
			<if test="val5!=null and operatorVal5 =='OR'"> OR A.VAL5 = #{val5} </if>
		)
		<if test="sord!=null and sord =='DESC'"> ORDER BY STDIL_SEQ DESC </if>
		<if test="sord!=null and sord =='ASC'"> ORDER BY STDIL_SEQ ASC </if>
	</select>

	<select id="selectAyStdrPeriodList" resultType="codeDto">
		SELECT /* common.code.selectAyStdrPeriodList */
			groupCd, cmmnCd, cdNm, val1,
			DECODE(cmmnCd,#{ay},'1','0')
		FROM (
			SELECT DISTINCT
				'1' AS groupCD,
				TO_CHAR(to_char(TO_DATE(FOND_YMD,'yyyyMMdd'),'yyyy') + level-1) AS cmmnCd,
				TO_CHAR(to_char(TO_DATE(FOND_YMD,'yyyyMMdd'),'yyyy') + level-1) AS cdNm,
				'' AS val1
			FROM TN_SCHUL_INFO
			WHERE SCHUL_CD = #{schulCd}
			AND DEL_YN = '0'
			connect by level <![CDATA[ <= ]]> #{ay}+3 - to_char(TO_DATE(FOND_YMD,'yyyyMMdd'),'yyyy')
			ORDER BY 2 DESC
		)
		UNION ALL
		SELECT groupCd, cmmnCd, cdNm, val1
				,DECODE(cmmnCd||val1,#{semCd}||#{ay},'1','0')
		FROM (
		SELECT
			'2' AS groupCd,
			TO_CHAR(SEM_CD) AS cmmnCd,
			TO_CHAR((SELECT CD_NM
				FROM TN_CODE_LANG
				WHERE SCHUL_CD = #{schulCd}
				AND DEL_YN = '0'
				AND LANG_CD = #{langCd}
				AND CMMN_CD = SEM_CD)) AS cdNm,
			TO_CHAR(AY) AS val1
		FROM TN_STDR_INFO A
		WHERE SCHUL_CD = #{schulCd}
		AND DEL_YN = '0'
		ORDER BY AY, PRD_BEGIN_YMD)
		UNION ALL
		SELECT groupCd, cmmnCd, cdNm, val1, chk FROM (
		SELECT
			'3' AS groupCd
			, TO_CHAR(TM_BLOCK_ID) AS cmmnCd
			, <![CDATA[ TO_CHAR(TM_BLOCK_NM||' ('||(SELECT CD_NM FROM TN_CODE_LANG
													WHERE SCHUL_CD =#{schulCd}
													AND LANG_CD = #{langCd}
													AND DEL_YN = '0'
													AND CMMN_CD = TM.FRL_ITRT_CD )||')') ]]> AS cdNm
			, TO_CHAR(AY||SEM_CD) AS val1
			, '' AS chk
		FROM TN_TM_BLOCK TM
		WHERE SCHUL_CD = #{schulCd}
		AND DEL_YN = '0'
		ORDER BY AY, SEM_CD, FRL_ITRT_CD, BEGIN_TOD
		)
	</select>

	<select id="selectAyPeriodList" resultType="codeDto">
		SELECT /* common.code.selectayperiodlist */
			'1' AS GROUP_CD
			, A.TM_BLOCK_ID AS CMMN_CD
			, A.TM_BLOCK_NM AS CD_NM
			, A.AY AS VAL1
		FROM
			TN_TM_BLOCK A ,
			(
			SELECT
				SCHUL_CD ,
				AY ,
				SEM_CD ,
				CASE WHEN TO_CHAR(TO_DATE(#{val1} , 'yyyyMMdd'),'D') IN ('1' , '7') THEN '005002'
					 WHEN ( SELECT COUNT(SCHUL_CD)
							FROM TN_ANUL_AA_FX
							WHERE SCHUL_CD = #{schulCd}
							AND YMD = #{val1}
							AND EVENT_SC_CD = '010001'
							AND DEL_YN = 0 ) > 0 THEN '005002'
					 WHEN #{val1} BETWEEN LCTRE_BEGIN_YMD AND LCTRE_END_YMD THEN '005001'
					 WHEN #{val1} BETWEEN SEASO_LCTRE_BEGIN_YMD AND SEASO_LCTRE_END_YMD THEN '005003'
					 ELSE '005002'
				END FRL_ITRT_CD
			FROM
				TN_STDR_INFO
			WHERE SCHUL_CD = #{schulCd}
			AND #{val1} BETWEEN PRD_BEGIN_YMD AND PRD_END_YMD
			AND DEL_YN = 0
			) B
		WHERE A.SCHUL_CD = B.SCHUL_CD
		AND A.AY = B.AY
		AND A.TM_SC_CD  NOT IN ('105004' , '105007')
		AND A.SEM_CD = B.SEM_CD
		AND A.FRL_ITRT_CD = B.FRL_ITRT_CD
		AND A.DEL_YN = 0
		ORDER BY A.AY, A.FRL_ITRT_CD, A.SEM_CD, A.BEGIN_TOD
	</select>

	<select id="selectYearCodeList" resultType="codeDto">
		SELECT /* common.code.selectAyStdrList */
			'1' AS groupCD,
			TO_CHAR(to_char(TO_DATE(FOND_YMD),'yyyy') + level-1) AS cmmnCd,
			TO_CHAR(to_char(TO_DATE(FOND_YMD),'yyyy') + level-1) AS cdNm,
			'' AS val1
		FROM (
			SELECT FOND_YMD FROM TN_SCHUL_INFO
			WHERE SCHUL_CD = #{schulCd}
			AND DEL_YN = '0'
		) connect by level <![CDATA[ <= ]]> #{ay} +3 - to_char(TO_DATE(FOND_YMD),'yyyy')
		ORDER BY 3 DESC
	</select>

	<select id="selectBlockCodeList" resultType="codeDto">
		SELECT /* common.code.selectBlockCodeList */
			'1' AS groupCd,
			TO_CHAR(TM_BLOCK_ID) AS cmmnCd,
			TO_CHAR(TM_BLOCK_NM) AS cdNm,
			TO_CHAR(AY||SEM_CD) AS val1
		FROM TN_TM_BLOCK
		WHERE SCHUL_CD = #{schulCd}
		AND DEL_YN = '0'
		<if test="filter3 != null and filter3 != ''">
			AND FRL_ITRT_CD = #{filter3}
		</if>
		<if test="filter4 != null and filter4 != ''">
			AND ASL_CD = #{filter4}
		</if>
		AND AY||SEM_CD = NVL(#{filter1}||#{filter2},#{ay}||#{semCd})
		ORDER BY AY,FRL_ITRT_CD,ASL_CD,BEGIN_TOD
	</select>

	<select id="selectInYearCodeList" resultType="codeDto">
		SELECT /* common.code.selectInYearCodeList */
			'1' AS groupCD,
			TO_CHAR(to_char(TO_DATE(FOND_YMD),'yyyy') + level-1) AS cmmnCd,
			TO_CHAR(to_char(TO_DATE(FOND_YMD),'yyyy') + level-1) AS cdNm,
			'' AS val1
		FROM (
			SELECT FOND_YMD FROM TN_SCHUL_INFO
			WHERE SCHUL_CD = #{schulCd}
			AND DEL_YN = '0'
		) connect by level <![CDATA[ <= ]]> #{ay} +3 - to_char(TO_DATE(FOND_YMD),'yyyy')
		ORDER BY 3 DESC
	</select>

	<select id="selectLocationCodeList" resultType="codeDto">
		SELECT /* common.code.selectLocationCodeList */
			A.SCHUL_CD, A.CMMN_CD, A.GROUP_CD, B.LANG_CD, B.CD_NM,
			A.VAL1, A.VAL2, A.VAL3, A.VAL4, A.VAL5, A.STDIL_SEQ
		FROM TN_CODE_DTL A, TN_CODE_LANG B
		WHERE A.SCHUL_CD = #{schulCd}
		AND A.DEL_YN = '0'
		AND B.DEL_YN = '0'
		AND A.SCHUL_CD = B.SCHUL_CD
		AND A.CMMN_CD = B.CMMN_CD
		AND A.GROUP_CD = '061'
		AND B.LANG_CD = #{langCd}
	</select>

	<select id="selectGradeStdrList" resultType="codeDto">
		SELECT /* common.code.selectGradeStdrList */
			DISTINCT groupcd,
			cmmncd,
			cdnm,
			val1,
			DECODE(cmmnCd,#{ay},'1','0') AS chk
		FROM ( SELECT '1' AS groupCd,
					To_char(ay) AS cmmnCd,
					To_char((SELECT cd_nm
							FROM tn_code_lang C
		                        WHERE  C.schul_cd = #{schulCd}
		                               AND C.del_yn = '0'
		                               AND C.lang_cd = #{langCd}
		                               AND C.cmmn_cd = G.grade_cd)) AS cdNm,
		               To_char('')                                  AS val1,
		               ''                                           AS chk
		        FROM   tn_grade_info G
		        WHERE  schul_cd = #{schulCd}
		               AND del_yn = '0'
		<if test="val1!=null"><![CDATA[ AND STDNT_ID = #{val1} ]]></if>
		        ORDER  BY cdnm ASC)
		UNION ALL
		SELECT
			groupcd,
			cmmncd,
			cdnm,
			val1,
			DECODE(cmmncd||val1,#{semCd}||#{ay},'1','0') AS chk
		FROM ( SELECT
					'2' AS groupCd,
					To_char(SEM_CD) AS cmmnCd,
					To_char((SELECT CD_NM
							FROM TN_CODE_LANG
							WHERE SCHUL_CD = #{schulCd}
							AND DEL_YN = '0'
							AND LANG_CD = #{langCd}
							AND CMMN_CD = sem_cd)) AS cdNm,
							To_char(AY) AS val1,
							'' AS chk
				FROM TN_STDR_INFO A
				WHERE SCHUL_CD = #{schulCd}
				AND DEL_YN = '0'
				ORDER BY ay, prd_begin_ymd )
	</select>

	<select id="selectAySemSubjList" resultType="codeDto">
		SELECT /* common.code.selectAySemSubjList */
			groupCd, cmmnCd, cdNm, val1,
			DECODE(cmmncd,#{ay},'1','0') AS chk
			FROM (
		SELECT DISTINCT
			'1' AS groupCD,
			TO_CHAR(SUBSTR(NVL(FOND_YMD,#{ay}),0,4) + level-1) AS cmmnCd,
			TO_CHAR(SUBSTR(NVL(FOND_YMD,#{ay}),0,4) + level-1) AS cdNm,
			'' AS val1
		FROM TN_SCHUL_INFO
		WHERE SCHUL_CD = #{schulCd}
		AND DEL_YN = '0'
		connect by level <![CDATA[ <= ]]> #{ay} +3 - SUBSTR(NVL(FOND_YMD,#{ay}),0,4)
		ORDER BY 2 DESC)
		UNION ALL
		SELECT
			groupCd
			, cmmnCd
			, cdNm
			, val1
			, DECODE(cmmnCd||val1,#{semCd}||#{ay},'1','0') AS chk
		FROM (
		SELECT
			'2' AS groupCd
			, TO_CHAR(SEM_CD) AS cmmnCd
			, TO_CHAR (( SELECT
							CD_NM
						FROM TN_CODE_LANG
						WHERE SCHUL_CD = #{schulCd}
						AND DEL_YN = '0'
						AND LANG_CD = #{langCd}
						AND CMMN_CD = SEM_CD)) AS cdNm
			, TO_CHAR(AY) AS val1
		FROM TN_STDR_INFO A
		WHERE SCHUL_CD = #{schulCd}
		AND DEL_YN = '0'
		ORDER BY AY, PRD_BEGIN_YMD)
		UNION ALL
		SELECT * FROM (
		SELECT
			'3' GROUPCD
			, ESTBL_SUBJ_ID AS CMMNCD
			, TO_CHAR(ESTBL_SUBJ_NM) AS CDNM
			, AY||SEM_CD VAL1
			, '0' CHK
		FROM TN_ESTBL_SUBJ
		WHERE SCHUL_CD = #{schulCd}
		AND DEL_YN = '0' ORDER BY ESTBL_SUBJ_NM)
	</select>

	<select id="selectAySemHmrmList" resultType="codeDto">
		SELECT /* common.code.selectAySemHmrmList */
			groupCd
			, cmmnCd
			, cdNm
			, val1
			, DECODE(cmmnCd,#{ay},'1','0') AS chk
		FROM ( SELECT DISTINCT
					'1' AS groupCD
					, TO_CHAR(SUBSTR(NVL(FOND_YMD,#{ay}),0,4) + level-1) AS cmmnCd
					, TO_CHAR(SUBSTR(NVL(FOND_YMD,#{ay}),0,4) + level-1) AS cdNm
					, '' AS val1
				FROM TN_SCHUL_INFO
				WHERE SCHUL_CD = #{schulCd}
				AND DEL_YN = '0'
				connect by level <![CDATA[ <= ]]> #{ay}+3 - SUBSTR(NVL(FOND_YMD,#{ay}),0,4)
				ORDER BY 2 DESC )
		UNION ALL
		SELECT GROUPCD, CMMNCD, CDNM, VAL1, CHK
		FROM ( SELECT
					'2' GROUPCD
					,HMRM_ID AS CMMNCD
					,TO_CHAR(HMRM_NM) AS CDNM
					,TO_CHAR(AY) VAL1
					,'0' CHK
				FROM TN_HMRM
				WHERE SCHUL_CD = #{schulCd}
				AND DEL_YN = '0'
				ORDER BY 2,3 )
	</select>

	<select id="selectAyList" resultType="codeDto">
		SELECT /* common.code.selectAyList */
			'1' AS GROUP_CD
			,TO_CHAR(to_char(TO_DATE(FOND_YMD,'yyyyMMdd'),'yyyy') + level-1) AS CMMN_CD
			,TO_CHAR(to_char(TO_DATE(FOND_YMD,'yyyyMMdd'),'yyyy') + level-1) AS CD_NM
		FROM (
			SELECT FOND_YMD FROM TN_SCHUL_INFO
			WHERE SCHUL_CD = #{schulCd}
			AND DEL_YN = '0'
		) connect by level <![CDATA[ <= ]]> #{ay} +3 - to_char(TO_DATE(FOND_YMD,'yyyyMMdd'),'yyyy')
		ORDER BY 3 DESC
	</select>

	<select id="selectStdrList" resultType="codeDto">
		SELECT '2' AS GROUP_CD
			,TO_CHAR(SEM_CD) AS CMMN_CD
			,TO_CHAR((
					SELECT CD_NM
					FROM TN_CODE_LANG
					WHERE SCHUL_CD = #{schulCd}
						AND DEL_YN = '0'
						AND LANG_CD = #{langCd}
						AND CMMN_CD = SEM_CD
					)) AS CD_NM
			,TO_CHAR(AY) AS VAL1
		FROM TN_STDR_INFO A
		WHERE SCHUL_CD = #{schulCd}
			AND DEL_YN = '0'
			AND AY = #{val1}
		ORDER BY AY, PRD_BEGIN_YMD
	</select>

	<select id="selectFrlItrtList" resultType="codeDto">
		SELECT
			'3' AS GROUP_CD
			,FRL_ITRT_CD AS CMMN_CD
			,(SELECT CD_NM
				FROM TN_CODE_LANG
				WHERE SCHUL_CD = #{schulCd}
				AND DEL_YN = '0'
				AND LANG_CD = #{langCd}
				AND CMMN_CD = TB.FRL_ITRT_CD ) AS CD_NM
		FROM TN_TM_BLOCK TB
		WHERE SCHUL_CD = #{schulCd}
		AND DEL_YN = '0'
		AND AY = #{val1}
		AND SEM_CD = #{val2}
		GROUP BY FRL_ITRT_CD
		ORDER BY CMMN_CD
	</select>

	<select id="selectAslList" resultType="codeDto">
		SELECT
			'4' AS GROUP_CD
			,ASL_CD AS CMMN_CD
			,(SELECT CD_NM
				FROM TN_CODE_LANG
				WHERE SCHUL_CD = #{schulCd}
				AND DEL_YN = '0'
				AND LANG_CD = #{langCd}
				AND CMMN_CD = TB.ASL_CD ) AS CD_NM
		FROM TN_TM_BLOCK TB
		WHERE SCHUL_CD = #{schulCd}
		AND DEL_YN = '0'
		AND AY = #{val1}
		AND SEM_CD = #{val2}
		GROUP BY ASL_CD
		ORDER BY CMMN_CD
	</select>

	<select id="selectPeriodList" resultType="codeDto">
		SELECT
			'5' AS GROUP_CD
			,TM_BLOCK_ID AS CMMN_CD
			,TM_BLOCK_NM AS CD_NM
		FROM TN_TM_BLOCK
		WHERE SCHUL_CD = #{schulCd}
		AND DEL_YN = '0'
		AND AY = #{val1}
		AND SEM_CD = #{val2}
		AND FRL_ITRT_CD = #{val3}
		AND ASL_CD = #{val4}
		ORDER BY AY, SEM_CD, FRL_ITRT_CD, ASL_CD, BEGIN_TOD
	</select>

</mapper>