<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common.popup" >

	<select id="selectPopupStudentList" parameterType="map" resultType="studentDto">
		SELECT /* common.popup.selectPopupStudentList */
			SUB_ROWNUM
			,USER_ID
			,PHOTO
			,USER_NM
			,SXDS_NM
			,SN
			,GRADE_CD
			,GRADE_NM
			,CLASS_ID
			,CLASS_NM
			,HMRM_ID
			,HMRM_NM
			,BRHS_FLOOR_SC_NM
			,BRHS_ROOM_NO
			,CRSE_ID
			,CRSE_NM
			,ORD_KND_CD
			,ORD_KND_NM
		FROM (
			SELECT ROWNUM AS SUB_ROWNUM
				,USER_ID
				,PHOTO
				,USER_NM
				,SXDS_NM
				,SN
				,GRADE_CD
				,GRADE_NM
				,CLASS_ID
				,CLASS_NM
				,HMRM_ID
				,HMRM_NM
				,BRHS_FLOOR_SC_NM
				,BRHS_ROOM_NO
				,CRSE_ID
				,CRSE_NM
				,ORD_KND_CD
				,ORD_KND_NM
			FROM (
				SELECT USER_ID
					,PHOTO
					,USER_NM
					,SXDS_NM
					,SN
					,GRADE_CD
					,GRADE_NM
					,CLASS_ID
					,CLASS_NM
					,HMRM_ID
					,HMRM_NM
					,BRHS_FLOOR_SC_NM
					,BRHS_ROOM_NO
					,DEL_YN
					,CRSE_ID
					,CRSE_NM
					,ORD_KND_CD
					,ORD_KND_NM
				FROM (
					SELECT MS.USER_ID
						,MS.PHOTO
						,MS.USER_NM
						,MS.SXDS_NM
						,MS.SN
						,GI.GRADE_CD
						,GI.GRADE_NM
						,GI.CLASS_ID
						,(
							SELECT CLASS_NM
							FROM TN_CLASS
							WHERE SCHUL_CD = #{schulCd}
								AND DEL_YN = '0'
								AND CLASS_ID = GI.CLASS_ID
							) AS CLASS_NM
						,GI.HMRM_ID
						,(
							SELECT HMRM_NM
							FROM TN_HMRM
							WHERE SCHUL_CD = #{schulCd}
								AND DEL_YN = '0'
								AND HMRM_ID = GI.HMRM_ID
							) AS HMRM_NM
						,MS.BRHS_FLOOR_SC_NM
						,MS.BRHS_ROOM_NO
						,MS.DEL_YN
						,MS.CRSE_ID
						,MS.CRSE_NM
						,MS.ORD_KND_CD
						,(SELECT CD_NM
							FROM TN_CODE_LANG
							WHERE SCHUL_CD = #{schulCd}
								AND DEL_YN = '0'
								AND CMMN_CD = MS.ORD_KND_CD
						) AS ORD_KND_NM
					FROM (
						SELECT M.USER_ID
							,M.PHOTO_FILE_ID AS PHOTO
							,M.USER_NM
							,(
								SELECT CD_NM
								FROM TN_CODE_LANG
								WHERE SCHUL_CD = #{schulCd}
									AND DEL_YN = '0'
									AND LANG_CD = #{langCd}
									AND CMMN_CD = M.SXDS_CD
								) AS SXDS_NM
							,S.SN
							,(
								SELECT CD_NM
								FROM TN_CODE_LANG
								WHERE SCHUL_CD = #{schulCd}
									AND DEL_YN = '0'
									AND LANG_CD = #{langCd}
									AND CMMN_CD = S.BRHS_FLOOR_SC_CD
								) AS BRHS_FLOOR_SC_NM
							,S.BRHS_ROOM_NO
							,M.DEL_YN
							,S.CRSE_ID
							,(
								SELECT CRSE_NM
								FROM TN_CRSE
								WHERE SCHUL_CD = #{schulCd}
									AND DEL_YN = '0'
									AND CRSE_ID = S.CRSE_ID
								) AS CRSE_NM
							,(
								SELECT ORD_KND_CD
								FROM TN_CRSE
								WHERE SCHUL_CD = #{schulCd}
									AND DEL_YN = '0'
									AND CRSE_ID = S.CRSE_ID
								) AS ORD_KND_CD
						FROM TN_MBER M
							,TN_STDNT S
						WHERE M.SCHUL_CD = #{schulCd}
							AND S.SCHUL_CD = #{schulCd}
							AND M.DEL_YN = '0'
							AND S.DEL_YN = '0'
							AND M.USER_ID = S.STDNT_ID
							AND S.ENR_STTUS_CD = '095001'
						) MS
					LEFT JOIN (
						SELECT STDNT_ID
							,GRADE_CD
							,GRADE_NM
							,HMRM_ID
							,CLASS_ID
						FROM (
							SELECT ROW_NUMBER() OVER(partition by STDNT_ID order by GRADE_CD DESC) AS RANK_KEY
								,STDNT_ID
								,GRADE_CD
								,(
									SELECT CD_NM
									FROM TN_CODE_LANG
									WHERE SCHUL_CD = #{schulCd}
										AND DEL_YN = '0'
										AND LANG_CD = #{langCd}
										AND CMMN_CD = GRADE_CD
									) AS GRADE_NM
								,HMRM_ID
								,CLASS_ID
							FROM TN_GRADE_INFO
							WHERE SCHUL_CD = #{schulCd}
								AND DEL_YN = '0'
								AND AY = #{ay}
							ORDER BY AY DESC
							)
						WHERE RANK_KEY = '1'
						) GI ON MS.USER_ID = GI.STDNT_ID
					)
				WHERE DEL_YN = '0'
				<if test="searchNm != null and searchNm != ''">
					AND USER_NM LIKE '%' || #{searchNm} || '%'
				</if>
				<if test="searchSn != null and searchSn != ''">
					AND SN LIKE '%' || #{searchSn} || '%'
				</if>
				<if test="searchGradeNm != null and searchGradeNm != ''">
					AND GRADE_CD LIKE '%' || #{searchGradeNm} || '%'
				</if>
				<if test="searchHmrmNm != null and searchHmrmNm != ''">
					AND HMRM_NM = #{searchHmrmNm}
				</if>
				<if test="searchHmrmId != null and searchHmrmId != ''">
					AND HMRM_ID = #{searchHmrmId}
				</if>
				ORDER BY USER_NM
				)
			WHERE <![CDATA[ ROWNUM <= ]]> #{pageNo} * #{maxRowPerPage}
			)
		WHERE <![CDATA[ SUB_ROWNUM >= ]]> #{pageNo} * #{maxRowPerPage} - #{maxRowPerPage} + 1
	</select>

	<select id="getStudentListNumberOfRow" parameterType="studentDto" resultType="int">
		SELECT COUNT(*)
		FROM (
			SELECT MS.USER_ID
				,MS.PHOTO
				,MS.USER_NM
				,MS.SXDS_NM
				,MS.SN
				,GI.GRADE_CD
				,GI.GRADE_NM
				,GI.CLASS_ID
				,(
					SELECT CLASS_NM
					FROM TN_CLASS
					WHERE SCHUL_CD = #{schulCd}
						AND DEL_YN = '0'
						AND CLASS_ID = GI.CLASS_ID
					) AS CLASS_NM
				,GI.HMRM_ID
				,(
					SELECT HMRM_NM
					FROM TN_HMRM
					WHERE SCHUL_CD = #{schulCd}
						AND DEL_YN = '0'
						AND HMRM_ID = GI.HMRM_ID
					) AS HMRM_NM
				,MS.BRHS_FLOOR_SC_NM
				,MS.BRHS_ROOM_NO
				,MS.DEL_YN
				,MS.CRSE_ID
				,MS.CRSE_NM
				,MS.ORD_KND_CD
				,(SELECT CD_NM
					FROM TN_CODE_LANG
					WHERE SCHUL_CD = #{schulCd}
						AND DEL_YN = '0'
						AND CMMN_CD = MS.ORD_KND_CD
				) AS ORD_KND_NM
			FROM (
				SELECT M.USER_ID
					,M.PHOTO_FILE_ID AS PHOTO
					,M.USER_NM
					,(
						SELECT CD_NM
						FROM TN_CODE_LANG
						WHERE SCHUL_CD = #{schulCd}
							AND DEL_YN = '0'
							AND LANG_CD = #{langCd}
							AND CMMN_CD = M.SXDS_CD
						) AS SXDS_NM
					,S.SN
					,(
						SELECT CD_NM
						FROM TN_CODE_LANG
						WHERE SCHUL_CD = #{schulCd}
							AND DEL_YN = '0'
							AND LANG_CD = #{langCd}
							AND CMMN_CD = S.BRHS_FLOOR_SC_CD
						) AS BRHS_FLOOR_SC_NM
					,S.BRHS_ROOM_NO
					,M.DEL_YN
					,S.CRSE_ID
					,(
						SELECT CRSE_NM
						FROM TN_CRSE
						WHERE SCHUL_CD = #{schulCd}
							AND DEL_YN = '0'
							AND CRSE_ID = S.CRSE_ID
						) AS CRSE_NM
					,(
						SELECT ORD_KND_CD
						FROM TN_CRSE
						WHERE SCHUL_CD = #{schulCd}
							AND DEL_YN = '0'
							AND CRSE_ID = S.CRSE_ID
						) AS ORD_KND_CD
				FROM TN_MBER M
					,TN_STDNT S
				WHERE M.SCHUL_CD = #{schulCd}
					AND S.SCHUL_CD = #{schulCd}
					AND M.DEL_YN = '0'
					AND S.DEL_YN = '0'
					AND M.USER_ID = S.STDNT_ID
					AND S.ENR_STTUS_CD = '095001'
				) MS
			LEFT JOIN (
				SELECT STDNT_ID
					,GRADE_CD
					,GRADE_NM
					,HMRM_ID
					,CLASS_ID
				FROM (
					SELECT ROW_NUMBER() OVER(partition by STDNT_ID order by GRADE_CD DESC) AS RANK_KEY
						,STDNT_ID
						,GRADE_CD
						,(
							SELECT CD_NM
							FROM TN_CODE_LANG
							WHERE SCHUL_CD = #{schulCd}
								AND DEL_YN = '0'
								AND LANG_CD = #{langCd}
								AND CMMN_CD = GRADE_CD
							) AS GRADE_NM
						,HMRM_ID
						,CLASS_ID
					FROM TN_GRADE_INFO
					WHERE SCHUL_CD = #{schulCd}
						AND DEL_YN = '0'
						AND AY = #{ay}
					ORDER BY AY DESC
					)
				WHERE RANK_KEY = '1'
				) GI ON MS.USER_ID = GI.STDNT_ID
			)
		WHERE DEL_YN = '0'
		<if test="searchNm != null and searchNm != ''">
			AND USER_NM LIKE '%' || #{searchNm} || '%'
		</if>
		<if test="searchSn != null and searchSn != ''">
			AND SN LIKE '%' || #{searchSn} || '%'
		</if>
		<if test="searchGradeNm != null and searchGradeNm != ''">
			AND GRADE_CD LIKE '%' || #{searchGradeNm} || '%'
		</if>
		<if test="searchHmrmNm != null and searchHmrmNm != ''">
			AND HMRM_NM = #{searchHmrmNm}
		</if>
		<if test="searchHmrmId != null and searchHmrmId != ''">
			AND HMRM_ID = #{searchHmrmId}
		</if>
		ORDER BY USER_NM
	</select>

	<select id="selectPopupTeacherList" parameterType="map" resultType="teacherDto">
		SELECT /* common.popup.selectPopupTeacherList */
			SUB_ROWNUM
			,USER_ID
			,USER_NM
			,SXDS_NM
			,SUBJ_NM_LIST
			,OFCPS_NM
			,DUTY_NM
			,ORG_NM
			,DSTRT_CD
			,CTTPC
		FROM (
			SELECT
				ROWNUM AS SUB_ROWNUM
				,USER_ID
				,USER_NM
				,SXDS_NM
				,SUBJ_NM_LIST
				,OFCPS_NM
				,DUTY_NM
				,ORG_NM
				,DSTRT_CD
				,CTTPC
			FROM (

				SELECT USER_ID
					,USER_NM
					,SXDS_NM
					,SUBJ_NM_LIST
					,OFCPS_NM
					,DUTY_NM
					,ORG_NM
					,DSTRT_CD
					,CTTPC
				FROM (
					SELECT USER_ID
						,USER_NM
						,(
							SELECT CD_NM
							FROM TN_CODE_LANG
							WHERE SCHUL_CD = #{schulCd}
								AND DEL_YN = '0'
								AND LANG_CD = #{langCd}
								AND CMMN_CD = M.SXDS_CD
							) AS SXDS_NM
						,(
							SELECT CD_NM
							FROM TN_CODE_LANG
							WHERE SCHUL_CD = #{schulCd}
								AND DEL_YN = '0'
								AND LANG_CD = #{langCd}
								AND CMMN_CD = T.OFCPS_CD
							) AS OFCPS_NM
						,T.DUTY_NM
						,(
							SELECT ORG_NM
							FROM TN_ORG
							WHERE SCHUL_CD = #{schulCd}
								AND DEL_YN = '0'
								AND ORG_ID = T.ORG_ID
							) AS ORG_NM
						,(
							SELECT VAL1
							FROM TN_CODE_DTL
							WHERE SCHUL_CD = #{schulCd}
								AND DEL_YN = '0'
								AND CMMN_CD = T.DSTRT_CD
						) AS DSTRT_CD
						,T.CTTPC
					FROM TN_MBER M
						,TN_TCR T
					WHERE M.SCHUL_CD = #{schulCd}
						AND T.SCHUL_CD = #{schulCd}
						AND M.DEL_YN = '0'
						AND T.DEL_YN = '0'
						AND M.USER_ID = T.TCR_ID
					) MT
				LEFT JOIN (
					(
						SELECT TCR_ID
							,substr(xmlagg(xmlelement(a, ',' || SUBJ_NM) ORDER BY SUBJ_NM).extract('//text()'), 2) AS SUBJ_NM_LIST
						FROM (
							SELECT A.TCR_ID
								,(
									SELECT x.SUBJ_NM
									FROM TN_SUBJ x
									WHERE x.SCHUL_CD = #{schulCd}
										AND x.DEL_YN = '0'
										AND x.SUBJ_ID = A.SUBJ_ID
									) AS SUBJ_NM
							FROM TN_CHRGE_SUBJ A
							WHERE A.SCHUL_CD = #{schulCd}
								AND A.DEL_YN = '0'
							)
						GROUP BY TCR_ID
						)
					) CS ON MT.USER_ID = CS.TCR_ID

					<where>
						<if test="searchNm != null and searchNm != ''">
							MT.USER_NM LIKE '%' || #{searchNm} || '%'
						</if>
						<if test="searchSubjNm != null and searchSubjNm != ''">
							AND CS.SUBJ_NM_LIST LIKE '%' || #{searchSubjNm} || '%'
						</if>
						<if test="authId != null and authId.size() > 0">
							AND MT.USER_ID IN (
								SELECT USER_ID FROM TN_MBER_AUTH
								WHERE SCHUL_CD = #{schulCd}
								AND DEL_YN = '0'
								AND AUTH_ID IN
								<foreach item="item" collection="authId" open="(" separator="," close=")">
									#{item}
								</foreach>
							)
						</if>
						<if test="subjId != null and subjId.size() > 0 ">
							AND MT.USER_ID IN (
								SELECT TCR_ID FROM TN_CHRGE_SUBJ
								WHERE SCHUL_CD = #{schulCd}
								AND DEL_YN = '0'
								AND SUBJ_ID IN
								<foreach item="item" collection="subjId" open="(" separator="," close=")">
									#{item}
								</foreach>
							)
						</if>
					</where>

					ORDER BY 2 ASC
				)
			WHERE <![CDATA[ ROWNUM <= ]]> #{pageNo} * #{maxRowPerPage}
			)
		WHERE <![CDATA[ SUB_ROWNUM >= ]]> #{pageNo} * #{maxRowPerPage} - #{maxRowPerPage} + 1
	</select>

	<select id="getTeacherListNumberOfRow" parameterType="teacherDto" resultType="int">
		SELECT /* common.popup.getTeacherListNumberOfRow */
			COUNT(*)
		FROM (
			SELECT USER_ID
				,USER_NM
				,(
					SELECT CD_NM
					FROM TN_CODE_LANG
					WHERE SCHUL_CD = #{schulCd}
						AND DEL_YN = '0'
						AND LANG_CD = #{langCd}
						AND CMMN_CD = SXDS_CD
					) AS SXDS_NM
				,(
					SELECT CD_NM
					FROM TN_CODE_LANG
					WHERE SCHUL_CD = #{schulCd}
						AND DEL_YN = '0'
						AND LANG_CD = #{langCd}
						AND CMMN_CD = T.OFCPS_CD
					) AS OFCPS_NM
				,T.DUTY_NM
				,(
					SELECT ORG_NM
					FROM TN_ORG
					WHERE SCHUL_CD = #{schulCd}
						AND DEL_YN = '0'
						AND ORG_ID = T.ORG_ID
					) AS ORG_NM
				,T.CTTPC
			FROM TN_MBER M
				,TN_TCR T
			WHERE M.SCHUL_CD = #{schulCd}
				AND T.SCHUL_CD = #{schulCd}
				AND M.DEL_YN = '0'
				AND T.DEL_YN = '0'
				AND M.USER_ID = T.TCR_ID
			) MT
		LEFT JOIN (
			(
				SELECT TCR_ID
					,substr(xmlagg(xmlelement(a, ',' || SUBJ_NM) ORDER BY SUBJ_NM).extract('//text()'), 2) AS SUBJ_NM_LIST
				FROM (
					SELECT A.TCR_ID
						,(
							SELECT x.SUBJ_NM
							FROM TN_SUBJ x
							WHERE x.SCHUL_CD = #{schulCd}
								AND x.DEL_YN = '0'
								AND x.SUBJ_ID = A.SUBJ_ID
							) AS SUBJ_NM
					FROM TN_CHRGE_SUBJ A
					WHERE A.SCHUL_CD = #{schulCd}
						AND A.DEL_YN = '0'
					)
				GROUP BY TCR_ID
				)
			) CS ON MT.USER_ID = CS.TCR_ID
			<where>
				<if test="searchNm != null and searchNm != ''">
					MT.USER_NM LIKE '%' || #{searchNm} || '%'
				</if>
				<if test="searchSubjNm != null and searchSubjNm != ''">
					AND CS.SUBJ_NM_LIST LIKE '%' || #{searchSubjNm} || '%'
				</if>
				<if test="authId != null and authId.size() > 0 ">
					AND MT.USER_ID IN (
						SELECT USER_ID FROM TN_MBER_AUTH
						WHERE SCHUL_CD = #{schulCd}
						AND DEL_YN = '0'
						AND AUTH_ID IN
						<foreach item="item" collection="authId" open="(" separator="," close=")">
							#{item}
						</foreach>
					)
				</if>
				<if test="subjId != null and subjId.size() > 0 ">
					AND MT.USER_ID IN (
						SELECT TCR_ID FROM TN_CHRGE_SUBJ
						WHERE SCHUL_CD = #{schulCd}
						AND DEL_YN = '0'
						AND SUBJ_ID IN
						<foreach item="item" collection="subjId" open="(" separator="," close=")">
							#{item}
						</foreach>
					)
				</if>
			</where>
	</select>

	<select id="selectPopupStaffList" parameterType="map" resultType="staffDto">
		SELECT /* common.popup.selectPopupStaffList */
			SUB_ROWNUM,
			USER_ID,
			USER_NM,
			SXDS_NM,
			ORG_NM,
			NOTE,
			HPHONE,
			DSTRT_CD,
			CTTPC
		FROM (
			SELECT
				ROWNUM AS SUB_ROWNUM,
				USER_ID,
				USER_NM,
				SXDS_NM,
				ORG_NM,
				NOTE,
				HPHONE,
				DSTRT_CD,
				CTTPC
			FROM (

				SELECT
					USER_ID,
					USER_NM,
					SXDS_NM,
					ORG_NM,
					NOTE,
					HPHONE,
					DSTRT_CD,
					CTTPC
				FROM (
					SELECT M.USER_ID
						,M.USER_NM
						,(
							SELECT CD_NM
							FROM TN_CODE_LANG
							WHERE SCHUL_CD = #{schulCd}
								AND DEL_YN = '0'
								AND CMMN_CD = M.SXDS_CD
							) AS SXDS_NM
						,(
							SELECT ORG_NM
							FROM TN_ORG
							WHERE SCHUL_CD = #{schulCd}
								AND DEL_YN = '0'
								AND ORG_ID = T.ORG_ID
							) AS ORG_NM
						,T.NOTE
						,M.CTTPC AS HPHONE
						,T.DSTRT_CD
						,T.CTTPC
					FROM TN_MBER M
						,TN_THTS T
					WHERE M.SCHUL_CD = #{schulCd}
						AND M.DEL_YN = '0'
						AND T.SCHUL_CD = #{schulCd}
						AND T.DEL_YN = '0'
						AND M.SCHUL_CD = T.SCHUL_CD
						AND M.USER_ID = T.STAFF_ID
						ORDER BY M.USER_NM ASC
					)
					<where>
						<if test="searchNm != null and searchNm != ''">
							<![CDATA[
							USER_NM LIKE '%' || #{searchNm} || '%'
							]]>
						</if>
						<if test="searchOrgNm != null and searchOrgNm != ''">
							<![CDATA[
							AND ORG_NM LIKE '%' || #{searchOrgNm} || '%'
							]]>
						</if>
						<if test="searchNote != null and searchNote != ''">
							<![CDATA[
							AND NOTE LIKE '%' || #{searchNote} || '%'
							]]>
						</if>
					</where>
				)
			WHERE <![CDATA[ ROWNUM <= ]]> #{pageNo} * #{maxRowPerPage}
			)
		WHERE <![CDATA[ SUB_ROWNUM >= ]]> #{pageNo} * #{maxRowPerPage} - #{maxRowPerPage} + 1
	</select>

	<select id="getStaffListNumberOfRow" parameterType="map" resultType="int">
		SELECT /* common.popup.getStaffListNumberOfRow */
			COUNT(*)
		FROM (
			SELECT M.USER_ID
				,M.USER_NM
				,(
					SELECT CD_NM
					FROM TN_CODE_LANG
					WHERE SCHUL_CD = #{schulCd}
						AND DEL_YN = '0'
						AND CMMN_CD = M.SXDS_CD
					) AS SXDS_NM
				,(
					SELECT ORG_NM
					FROM TN_ORG
					WHERE SCHUL_CD = #{schulCd}
						AND DEL_YN = '0'
						AND ORG_ID = T.ORG_ID
					) AS ORG_NM
				,T.NOTE
				,M.CTTPC AS HPHONE
				,T.DSTRT_CD
				,T.CTTPC
			FROM TN_MBER M
				,TN_THTS T
			WHERE M.SCHUL_CD = #{schulCd}
				AND M.DEL_YN = '0'
				AND T.SCHUL_CD = #{schulCd}
				AND T.DEL_YN = '0'
				AND M.SCHUL_CD = T.SCHUL_CD
				AND M.USER_ID = T.STAFF_ID
				ORDER BY M.USER_NM ASC
			)
			<where>
				<if test="searchNm != null and searchNm != ''">
					<![CDATA[
					USER_NM LIKE '%' || #{searchNm} || '%'
					]]>
				</if>
				<if test="searchOrgNm != null and searchOrgNm != ''">
					<![CDATA[
					AND ORG_NM LIKE '%' || #{searchOrgNm} || '%'
					]]>
				</if>
				<if test="searchNote != null and searchNote != ''">
					<![CDATA[
					AND NOTE LIKE '%' || #{searchNote} || '%'
					]]>
				</if>
			</where>
	</select>

	<select id="selectAddrsPag" parameterType="AddressDto" resultType="AddressDto">

		SELECT
		      zipNo
		     ,newAddr
		     ,oldAddr
		     ,SUB_ROWNUM
		FROM(
		        SELECT
		              zipNo
		             ,newAddr
		             ,oldAddr
		             ,ROWNUM AS SUB_ROWNUM
		        FROM(
		               SELECT
		                      SUBSTR(ZIP, 1, 3) || '-' || SUBSTR(ZIP, 4, 3)  AS zipNo
		                     ,ATPT||' '||SIG||' '||DECODE(GPMN,'','',GPMN)||' '||ROAD_NM||' '||BDNBR_OGADR||DECODE(BDNBR_PNADD,'0','','-')||DECODE(BDNBR_PNADD,'0','',BDNBR_PNADD)||' '||DECODE(SIG_BULD_NM,'','','(')||DECODE(SIG_BULD_NM,'','',SIG_BULD_NM)||DECODE(SIG_BULD_NM,'','',')') AS newAddr
		                     ,ATPT||' '||SIG||' '||DECODE(ADSTN_NM,'',DECODE(GPMN,'','',GPMN),ADSTN_NM) ||' '||DECODE(LGALI,'','',LGALI)||' '||LNM_OGADR||DECODE(LNM_PNADD,'0','','-')||DECODE(LNM_PNADD,'0','',LNM_PNADD)  AS oldAddr
		                FROM  TN_ZIP
		                WHERE GPMN LIKE #{addrTitle  ,jdbcType=VARCHAR} || '%' OR ROAD_NM LIKE  #{addrTitle  ,jdbcType=VARCHAR} || '%' OR SIG_BULD_NM LIKE  #{addrTitle  ,jdbcType=VARCHAR} || '%' OR ADSTN_NM LIKE  #{addrTitle  ,jdbcType=VARCHAR} || '%' OR LGALI LIKE  #{addrTitle  ,jdbcType=VARCHAR} || '%'
		                ORDER BY ZIP ASC
		        )
		        WHERE  ROWNUM <![CDATA[ <= ]]> #{pageNo} * #{maxRowPerPage}
		    )
		WHERE  SUB_ROWNUM <![CDATA[ >= ]]> #{pageNo} * #{maxRowPerPage} - #{maxRowPerPage} + 1


	</select>

	<select id="getAddrsOfRow" parameterType="AddressDto" resultType="int">

               SELECT
                     COUNT(*)
                FROM  TN_ZIP
                WHERE GPMN LIKE #{addrTitle  ,jdbcType=VARCHAR} || '%' OR ROAD_NM LIKE  #{addrTitle  ,jdbcType=VARCHAR} || '%' OR SIG_BULD_NM LIKE  #{addrTitle  ,jdbcType=VARCHAR} || '%' OR ADSTN_NM LIKE  #{addrTitle  ,jdbcType=VARCHAR} || '%' OR LGALI LIKE  #{addrTitle  ,jdbcType=VARCHAR} || '%'
	</select>


	<select id="selectPopupPlaceList" parameterType="placeDto" resultType="placeDto">
		SELECT /* common.popup.selectPopupPlaceList */
			SCHUL_CD ,
			FA_ID ,
			FA_NM ,
			FA_SC_CD ,
			FA_SC_NM ,
			PSTN_SC_CD ,
			PSTN_SC_NM ,
			FLOOR_SC_CD ,
			FLOOR_SC_NM ,
			REQST_POSBL_ACT ,
			NOTE ,
			DRW_FILE_ID
		FROM (
			SELECT ROWNUM AS SUB_ROWNUM ,
				SCHUL_CD ,
				FA_ID ,
				FA_NM ,
				FA_SC_CD ,
				FA_SC_NM ,
				PSTN_SC_CD ,
				PSTN_SC_NM ,
				FLOOR_SC_CD ,
				FLOOR_SC_NM ,
				REQST_POSBL_ACT ,
				NOTE ,
				DRW_FILE_ID
			FROM (
				SELECT
					A.SCHUL_CD ,
					A.FA_ID ,
					A.FA_NM ,
					A.FA_SC_CD ,
					D.CD_NM AS FA_SC_NM ,
					A.PSTN_SC_CD ,
					B.CD_NM AS PSTN_SC_NM ,
					A.FLOOR_SC_CD ,
					C.CD_NM AS FLOOR_SC_NM ,
					A.REQST_POSBL_ACT ,
					A.NOTE ,
					A.DRW_FILE_ID
				FROM
					TN_FA A ,
					TN_CODE_LANG B ,
					TN_CODE_LANG C ,
					TN_CODE_LANG D
				WHERE
					A.SCHUL_CD = #{schulCd}
					<if test="pstnScCd != null and pstnScCd != ''">
						AND A.PSTN_SC_CD = #{pstnScCd}
					</if>
					<if test="floorScCd != null and floorScCd != ''">
						AND A.FLOOR_SC_CD = #{floorScCd}
					</if>
					<if test="faNm != null and faNm != ''">
						<![CDATA[
						AND A.FA_NM LIKE '%' || #{faNm} || '%'
						]]>
					</if>
					<if test="reqstPosblAct != null and reqstPosblAct != '' and reqstPosblAct != 'ALL'">
						AND INSTR(A.REQST_POSBL_ACT , #{reqstPosblAct}) > 0
					</if>
					<if test="reqstPosblAct != null and reqstPosblAct == 'ALL'">
						AND A.REQST_POSBL_ACT IS NOT NULL AND LENGTH(TRIM(A.REQST_POSBL_ACT)) > 0
					</if>
					<if test="faScCd != null and faScCd != ''">
						AND A.FA_SC_CD = #{faScCd}
					</if>
					AND A.DEL_YN = 0
					AND A.SCHUL_CD = B.SCHUL_CD
					AND A.PSTN_SC_CD = B.CMMN_CD
					AND B.LANG_CD = #{langCd}
					AND B.DEL_YN = 0
					AND A.SCHUL_CD = C.SCHUL_CD
					AND A.FLOOR_SC_CD = C.CMMN_CD
					AND C.LANG_CD = #{langCd}
					AND C.DEL_YN = 0
					AND A.SCHUL_CD = D.SCHUL_CD
					AND A.FA_SC_CD = D.CMMN_CD
					AND D.LANG_CD = #{langCd}
					AND D.DEL_YN = 0
				ORDER BY
					A.PSTN_SC_CD , A.FLOOR_SC_CD , A.FA_NM
			)
			WHERE  ROWNUM <![CDATA[ <= ]]> #{pageNo} * #{maxRowPerPage}
		)
		WHERE  SUB_ROWNUM <![CDATA[ >= ]]> #{pageNo} * #{maxRowPerPage} - #{maxRowPerPage} + 1
	</select>


	<select id="selectPopupPlaceRow" parameterType="placeDto" resultType="int">
		SELECT /* common.popup.selectPopupPlaceRow */
			COUNT(*) AS CNT
		FROM
			TN_FA
		WHERE
			SCHUL_CD = #{schulCd}
			<if test="pstnScCd != null and pstnScCd != ''">
				AND PSTN_SC_CD = #{pstnScCd}
			</if>
			<if test="floorScCd != null and floorScCd != ''">
				AND FLOOR_SC_CD = #{floorScCd}
			</if>
			<if test="faNm != null and faNm != ''">
				<![CDATA[
				AND FA_NM LIKE '%' || #{faNm} || '%'
				]]>
			</if>
			<if test="reqstPosblAct != null and reqstPosblAct != '' and reqstPosblAct != 'ALL'">
				AND INSTR(REQST_POSBL_ACT , #{reqstPosblAct}) > 0
			</if>
			<if test="reqstPosblAct != null and reqstPosblAct == 'ALL'">
				AND REQST_POSBL_ACT IS NOT NULL AND LENGTH(TRIM(REQST_POSBL_ACT)) > 0
			</if>
			<if test="faScCd != null and faScCd != ''">
				AND FA_SC_CD = #{faScCd}
			</if>
			AND DEL_YN = 0
	</select>



	<select id="selectPreNextAppDate" parameterType="facilityDto" resultType="facilityDto">
		SELECT /* common.popup.selectPreNextAppDate */
			( SELECT VAL1 FROM TN_CODE_DTL WHERE SCHUL_CD = #{schulCd} AND CMMN_CD = '087001' AND DEL_YN = 0) AS PRE_POSS_DAY ,
			( SELECT VAL1 FROM TN_CODE_DTL WHERE SCHUL_CD = #{schulCd} AND CMMN_CD = '087002' AND DEL_YN = 0) AS NEXT_POSS_DAY
		FROM
			DUAL
	</select>


	<select id="selectFacilityLimitDate" parameterType="facilityDto" resultType="facilityDto">
		SELECT /* common.popup.selectFacilityLimitDate */
			YMD ,
			FX_NM ,
			TMZON_CD
		FROM
			TN_ANUL_AA_FX
		WHERE
			SCHUL_CD = #{schulCd}
			AND YMD BETWEEN
				TO_CHAR(SYSDATE - (SELECT TO_NUMBER(VAL1) FROM TN_CODE_DTL WHERE SCHUL_CD = #{schulCd} AND CMMN_CD = '087001' AND DEL_YN = 0) , 'YYYYMMDD')
				AND TO_CHAR(SYSDATE + (SELECT TO_NUMBER(VAL1) FROM TN_CODE_DTL WHERE SCHUL_CD = #{schulCd} AND CMMN_CD = '087002' AND DEL_YN = 0) , 'YYYYMMDD')
			AND INSTR(REQST_LMTT , '084002') > 0
			AND TMZON_CD = '009004'
		ORDER BY
			YMD , TMZON_CD
	</select>

	<select id="selectFacilityFaList" parameterType="facilityDto" resultType="facilityDto">
		SELECT /* common.popup.selectFacilityFaList */
			FA_ID ,
			FA_NM
		FROM
			TN_FA
		WHERE
			SCHUL_CD =  #{schulCd}
			AND PSTN_SC_CD =  #{pstnScCd}
			AND FLOOR_SC_CD =  #{floorScCd}
			AND INSTR(REQST_POSBL_ACT ,  #{reqstPosblAct}) > 0
			AND DEL_YN = 0
		ORDER BY
			FA_NM
	</select>


	<select id="selectFacilityResultList" parameterType="facilityDto" resultType="facilityResultDto">
		SELECT /* common.popup.selectFacilityResultList */
			A.SCHUL_CD ,
			'1' AS RESULT_FG ,
			A.TM_BLOCK_ID ,
			A.BEGIN_TOD ,
			A.END_TOD  ,
			A.TM_BLOCK_NM ,
			A.FA_ID ,
			A.FA_NM ,
			A.FA_SC_NM ,
			A.PSTN_SC_NM ,
			A.FLOOR_SC_NM ,
			NVL(B.RESVE_CNT , 0) AS RESVE_CNT ,
			B.PRPOS_SC_CD ,
			B.PRG_STTUS_CD ,
			A.TMZON_CD ,
			'' AS TMZON_NM ,
			B.RESVE_CNTNT
		FROM
		(
		SELECT
			A.SCHUL_CD ,
			A.TM_BLOCK_ID ,
			A.BEGIN_TOD ,
			A.END_TOD  ,
			TO_CHAR(A.TM_BLOCK_NM) AS TM_BLOCK_NM ,
			B.FA_ID ,
			TO_CHAR(B.FA_NM) AS FA_NM ,
			TO_CHAR(C.CD_NM) AS FA_SC_NM ,
			TO_CHAR(D.CD_NM) AS PSTN_SC_NM ,
			TO_CHAR(E.CD_NM) AS FLOOR_SC_NM ,
			B.PSTN_SC_CD ,
			B.FLOOR_SC_CD ,
			A.TMZON_CD
		FROM
			(
			SELECT
				SCHUL_CD ,
				TM_BLOCK_ID ,
				BEGIN_TOD ,
				END_TOD  ,
				TM_BLOCK_NM ,
				CASE WHEN  ASL_CD = '026002' THEN '009003'
					WHEN RANK() OVER (PARTITION BY SCHUL_CD , AY , SEM_CD , FRL_ITRT_CD , ASL_CD ORDER BY BEGIN_TOD) > COUNT(ASL_CD) OVER (PARTITION BY SCHUL_CD , AY , SEM_CD , FRL_ITRT_CD , ASL_CD)/2 THEN '009002'
					ELSE '009001'
				END AS TMZON_CD
			FROM
				TN_TM_BLOCK
			WHERE
				SCHUL_CD||AY||SEM_CD||FRL_ITRT_CD = (
					SELECT
						SCHUL_CD||AY||SEM_CD||
						CASE WHEN TO_CHAR(TO_DATE(#{ymd} , 'YYYYMMDD'),'D') IN ('1' , '7') THEN '005002'
					         WHEN ( SELECT COUNT(SCHUL_CD) FROM TN_ANUL_AA_FX WHERE SCHUL_CD = #{schulCd} AND YMD = #{ymd} AND EVENT_SC_CD = '010001' AND DEL_YN = 0 ) > 0 THEN '005002'
							 WHEN #{ymd} BETWEEN LCTRE_BEGIN_YMD AND LCTRE_END_YMD THEN '005001'
							 WHEN #{ymd} BETWEEN SEASO_LCTRE_BEGIN_YMD AND  SEASO_LCTRE_END_YMD THEN '005003'
							ELSE '005002'
						END FRL_ITRT_CD
					FROM
						TN_STDR_INFO
					WHERE
						SCHUL_CD = #{schulCd}
						AND #{ymd} BETWEEN PRD_BEGIN_YMD AND PRD_END_YMD
						AND DEL_YN = 0
				)
				AND DEL_YN = 0
			) A ,
			TN_FA B ,
			TN_CODE_LANG C ,
			TN_CODE_LANG D ,
			TN_CODE_LANG E
		WHERE
			TMZON_CD NOT IN ( SELECT TMZON_CD FROM TN_ANUL_AA_FX WHERE SCHUL_CD = #{schulCd} AND YMD = #{ymd} AND INSTR(REQST_LMTT  , '084002') > 0 AND TMZON_CD <![CDATA[<>]]> '009004' AND DEL_YN = 0 GROUP BY SCHUL_CD , YMD , TMZON_CD)
			<if test="tmBlockId != null and tmBlockId != ''">
			AND A.TM_BLOCK_ID = #{tmBlockId}
			</if>
			AND A.SCHUL_CD = B.SCHUL_CD
			AND INSTR(B.REQST_POSBL_ACT , #{reqstPosblAct} ) > 0
			AND B.DEL_YN = 0
			<if test="faId != null and faId != ''">
			AND B.FA_ID = #{faId}
			</if>
			AND B.SCHUL_CD = C.SCHUL_CD
			AND B.FA_SC_CD = C.CMMN_CD
			AND	C.LANG_CD = #{langCd}
			AND C.DEL_YN = 0
			AND B.SCHUL_CD = D.SCHUL_CD
			AND B.PSTN_SC_CD = D.CMMN_CD
			AND	D.LANG_CD = #{langCd}
			AND D.DEL_YN = 0
			AND B.SCHUL_CD = E.SCHUL_CD
			AND B.FLOOR_SC_CD = E.CMMN_CD
			AND	E.LANG_CD = #{langCd}
			AND E.DEL_YN = 0
		) A
		LEFT OUTER JOIN
			(
		 	SELECT
				DISTINCT
				SCHUL_CD ,
				FA_ID ,
				TM_BLOCK_ID ,
				COUNT(SCHUL_CD) OVER (PARTITION BY SCHUL_CD , FA_ID , RESVE_YMD ,TM_BLOCK_ID) AS RESVE_CNT ,
				LISTAGG(TO_CHAR(PRPOS_SC_CD), ', ') WITHIN GROUP ( ORDER BY SRS_NO ) OVER (PARTITION BY SCHUL_CD , FA_ID , RESVE_YMD ,TM_BLOCK_ID) AS PRPOS_SC_CD ,
				LISTAGG(TO_CHAR(PRG_STTUS_CD), ',') WITHIN GROUP ( ORDER BY SRS_NO ) OVER (PARTITION BY SCHUL_CD , FA_ID , RESVE_YMD ,TM_BLOCK_ID) AS PRG_STTUS_CD ,
				LISTAGG(TO_CHAR(RESVE_CNTNT), ', ') WITHIN GROUP ( ORDER BY SRS_NO ) OVER (PARTITION BY SCHUL_CD , FA_ID , RESVE_YMD ,TM_BLOCK_ID) AS RESVE_CNTNT
			FROM
				TN_FA_RESVE
			WHERE
				SCHUL_CD = #{schulCd}
				AND RESVE_YMD = #{ymd}
				AND PRG_STTUS_CD IN ('043001' ,'043002')
				AND DEL_YN = '0'
		) B
		ON
			A.SCHUL_CD = B.SCHUL_CD
			AND A.FA_ID = B.FA_ID
			AND A.TM_BLOCK_ID = B.TM_BLOCK_ID
		UNION
			SELECT
				A.SCHUL_CD ,
				'0' ,
				'' ,
				'0000' ,
				'0000' ,
				'' ,
				'' ,
				'' ,
				'' ,
				'' ,
				'' ,
				0 ,
				'' ,
				'' ,
				A.TMZON_CD ,
				TO_CHAR(B.CD_NM) ,
				LISTAGG(TO_CHAR(A.FX_NM), ', ') WITHIN GROUP ( ORDER BY A.SRS_NO ) OVER (PARTITION BY A.SCHUL_CD , A.YMD , A.TMZON_CD) AS RESVE_CNTNT
			FROM
				TN_ANUL_AA_FX A ,
				TN_CODE_LANG B
			WHERE
				A.SCHUL_CD = #{schulCd}
				AND A.YMD = #{ymd}
				AND INSTR(A.REQST_LMTT  , '084002') > 0
				AND A.TMZON_CD <![CDATA[<>]]> '009004'
				AND A.DEL_YN = 0
				AND	A.SCHUL_CD = B.SCHUL_CD
				AND	A.TMZON_CD = B.CMMN_CD
				AND	B.LANG_CD = #{langCd}
				AND B.DEL_YN = 0
		ORDER BY
			TMZON_CD , BEGIN_TOD , FA_NM
	</select>



	<select id="selectClause" parameterType="clauseDto" resultType="clauseDto">
		SELECT /* common.popup.selectClause */
			NVL((SELECT MAX(STPL_HSTR_NO) FROM TN_STPL_MNG WHERE A.SCHUL_CD = SCHUL_CD AND A.STPL_CD = STPL_CD AND TO_DATE(ENFRC_YMD  , 'YYYYMMDD') <![CDATA[<=]]> SYSDATE AND DEL_YN = '0' AND A.STPL_HSTR_NO <![CDATA[>]]> STPL_HSTR_NO) , -1) AS PRE_STPL_HSTR_NO ,
			NVL((SELECT MIN(STPL_HSTR_NO) FROM TN_STPL_MNG WHERE A.SCHUL_CD = SCHUL_CD AND A.STPL_CD = STPL_CD AND TO_DATE(ENFRC_YMD  , 'YYYYMMDD') <![CDATA[<=]]> SYSDATE AND DEL_YN = '0' AND A.STPL_HSTR_NO <![CDATA[<]]> STPL_HSTR_NO) , -1) AS NEXT_STPL_HSTR_NO ,
			( SELECT CD_NM FROM TN_CODE_LANG WHERE SCHUL_CD = #{schulCd} AND CMMN_CD = #{stplCd} AND LANG_CD = #{langCd} AND DEL_YN = '0' ) AS STPLNM ,
			ENFRC_YMD ,
			STPL_HSTR_NO ,
			STPL_CNTNT
		FROM
			TN_STPL_MNG A
		WHERE
			SCHUL_CD = #{schulCd}
			AND STPL_CD = #{stplCd}
			<if test="stplHstrNo != null and stplHstrNo != ''">
			AND STPL_HSTR_NO = #{stplHstrNo}
			</if>
			<if test="stplHstrNo == null or stplHstrNo == ''">
		    AND STPL_HSTR_NO = (
				SELECT
					MAX(STPL_HSTR_NO)
				FROM
					TN_STPL_MNG
				WHERE
					SCHUL_CD = #{schulCd}
					AND STPL_CD = #{stplCd}
					AND DEL_YN = '0'
					AND TO_DATE(ENFRC_YMD  , 'YYYYMMDD') <![CDATA[<=]]> SYSDATE
		    )
		    </if>
			AND DEL_YN = '0'
	</select>


</mapper>