<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common.ums" >

	<select id="selectJobSeq" resultType="int">
		SELECT /* selectJobSeq */ JOBSEQ.NEXTVAL FROM DUAL
	</select>

	<select id="selectSmsSeq" resultType="int">
		SELECT /* selectSmsSeq */ SDK_SMS_SEQ.NEXTVAL FROM DUAL
	</select>

	<select id="selectMmsSeq" resultType="int">
		SELECT /* selectMmsSeq */ SDK_MMS_SEQ.NEXTVAL FROM DUAL
	</select>

	<select id="selectTargetUserList" parameterType="umsMessageServiceDto" resultType="umsMessageServiceDto">
		SELECT /* selectTargetUserList */
			USER_NM ,
			CNTRY_CD ,
			TELE_CD ,
			CTTPC
		FROM
			TN_MBER
		WHERE
		    SCHUL_CD = #{schulCd}
			AND USER_ID IN ( ${userTarget} )
			AND CTTPC IS NOT NULL
			AND DEL_YN = '0'
	</select>

	<insert id="insertOrgJob" parameterType="orgJobDto">
		INSERT /* insertOrgJob */
		INTO TGUMS_ORG_JOB
			(
			JOBSEQ ,
			TAKENO ,
			JOBCODE ,
			JOBNAME ,
			MNAME ,
			MMOBILENO ,
			TAKEYMD ,
			TAKETM ,
			DPPNAME ,
			DEPCODE ,
			CALLBACKNO ,
			SENDMSG ,
			SENDYN ,
			SYSCODE ,
			SUBSYSCODE ,
			JOBRDATE
		)
		VALUES
		(
			#{jobseq} ,
			#{takeno} ,
			'' ,
			'' ,
			#{mname} ,
			#{mmobileno} ,
			#{takeymd} ,
			#{taketm} ,
			'' ,
			'' ,
			#{callbackno} ,
			#{sendmsg} ,
			#{sendyn} ,
			#{syscode} ,
			'' ,
			#{jobrdate}
		)
	</insert>


	<insert id="inserSmsMessage" parameterType="umsDto">
		INSERT /* inserSmsMessage */
		INTO SDK_SMS_SEND
			(
			MSG_ID ,
			USER_ID	,
			SCHEDULE_TYPE ,
			SUBJECT ,
			SMS_MSG ,
			NOW_DATE ,
			SEND_DATE ,
			CALLBACK ,
			DEST_COUNT ,
			DEST_INFO ,
			RESERVED1 ,
			RESERVED2 ,
			RESERVED3 ,
			RESERVED5
		)
		VALUES
		(
			#{msgId} ,
			#{userId} ,
			#{scheduleType} ,
			#{subject} ,
			#{smsMsg} ,
			#{nowDate} ,
			#{sendDate} ,
			#{callback} ,
			#{destCount} ,
			#{destInfo} ,
			#{reserved1} ,
			#{reserved2} ,
			#{reserved3} ,
			#{reserved5}
		)
	</insert>

	<insert id="inserMmsMessage" parameterType="umsDto">
		INSERT /* inserMmsMessage */
		INTO SDK_MMS_SEND
			(
			MSG_ID ,
			USER_ID	,
			SCHEDULE_TYPE ,
			SUBJECT ,
			MMS_MSG ,
			CONTENT_COUNT ,
			CONTENT_DATA ,
			NOW_DATE ,
			SEND_DATE ,
			CALLBACK ,
			DEST_COUNT ,
			DEST_INFO ,
			RESERVED1 ,
			RESERVED2 ,
			RESERVED3 ,
			RESERVED5
		)
		VALUES
		(
			#{msgId} ,
			#{userId} ,
			#{scheduleType} ,
			#{subject} ,
			#{smsMsg} ,
			0 ,
			'' ,
			#{nowDate} ,
			#{sendDate} ,
			#{callback} ,
			#{destCount} ,
			#{destInfo} ,
			#{reserved1} ,
			#{reserved2} ,
			#{reserved3} ,
			#{reserved5}
		)
	</insert>

</mapper>