<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="simplePatternMatcher" class="org.codelabor.system.pattern.service.SimplePatternMatcherImpl">
		<property name="includesPatternList" ref="simplepIncludesPatternList" />
		<property name="excludesPatternList" ref="simplepExcludesPatternList" />
	</bean>
	
	<util:list id="simplepIncludesPatternList">
		<value>12345</value>
		<value>abcd</value>
	</util:list>
	
	<util:list id="simplepExcludesPatternList">
		<value>12345</value>
	</util:list>
	
	
</beans>
