<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="regexPatternMatcher" class="org.codelabor.system.pattern.service.RegexPatternMatcherImpl">
		<property name="includesPatternList" ref="regexpIncludesPatternList" />
		<property name="excludesPatternList" ref="regexpExcludesPatternList" />
	</bean>
	
	<util:list id="regexpIncludesPatternList">
		<value>[a-z]*</value>
		<value>[1-9]*</value>
	</util:list>
	
	<util:list id="regexpExcludesPatternList">
		<value>[1-4]*</value>
	</util:list>
	
	
</beans>
