<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!--
	<bean
		id="exampleBankingTransferService"
		class="org.codelabor.example.banking.transfer.services.TransferServiceImpl"
		parent="baseService">
	</bean>
	-->
	<bean
		id="exampleBankingTransferService"
		class="org.codelabor.example.banking.transfer.services.TransferServiceMock"
		parent="baseService">
		<property name="customerManager" ref="exampleBankingCustomerManager" />
	</bean>
</beans>
