<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean
		id="queryServiceUserDetailsService"
		class="org.codelabor.system.userdetails.services.UserDetailsServiceImpl">
		<property name="queryService" ref="oracleQueryService"/>
	</bean>	
	<bean
		id="pkiUserDetailsService"
		class="org.codelabor.system.userdetails.services.PKIUserDetailsServiceImpl">
		<property name="queryService" ref="oracleQueryService"/>
	</bean>
	<bean
		id="pkiAuthenticatedUserDetailsService"
		class="org.codelabor.system.userdetails.services.PKIAuthenticatedUserDetailsServiceImpl">
		<property name="queryService" ref="oracleQueryService"/>
	</bean>	
</beans>
