<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd ">

	<bean id="fileTransferService1"
		class="org.codelabor.system.net.ftp.services.FileTransferServiceImpl">
		<property name="hostname" value="localhost" />
		<property name="port" value="21" />
		<property name="defaultDirectory" value="." />
		<property name="connectTimeout" value="3000" />
		<property name="charsetName" value="UTF-8" />
		<property name="username" value="bomber" />
		<property name="password" value="wndgus2" />
		<property name="dataConnectionMode" value="passive" /> <!-- active / passive -->
		<property name="overwriteFlag" value="true" /> <!-- true / false -->
	</bean>
	<bean id="fileTransferService2"
		class="org.codelabor.system.net.ftp.services.FileTransferServiceImpl">
		<property name="hostname" value="localhost" />
		<property name="port" value="21" />
		<property name="defaultDirectory" value="." />
		<property name="connectTimeout" value="3000" />
		<property name="charsetName" value="UTF-8" />
		<property name="username" value="bomber" />
		<property name="password" value="wndgus2" />
		<property name="dataConnectionMode" value="passive" /> <!-- active / passive -->
		<property name="overwriteFlag" value="true" /> <!-- true / false -->
	</bean>
	<bean id="fileTransferService3"
		class="org.codelabor.system.net.ftp.services.FileTransferServiceImpl">
		<property name="hostname" value="localhost" />
		<property name="port" value="21" />
		<property name="defaultDirectory" value="." />
		<property name="connectTimeout" value="3000" />
		<property name="charsetName" value="UTF-8" />
		<property name="username" value="bomber" />
		<property name="password" value="wndgus2" />
		<property name="dataConnectionMode" value="passive" /> <!-- active / passive -->
		<property name="overwriteFlag" value="true" /> <!-- true / false -->
	</bean>
	<bean id="fileTransferService4"
		class="org.codelabor.system.net.ftp.services.FileTransferServiceImpl">
		<property name="hostname" value="localhost" />
		<property name="port" value="21" />
		<property name="defaultDirectory" value="." />
		<property name="connectTimeout" value="3000" />
		<property name="charsetName" value="UTF-8" />
		<property name="username" value="bomber" />
		<property name="password" value="wndgus2" />
		<property name="dataConnectionMode" value="passive" /> <!-- active / passive -->
		<property name="overwriteFlag" value="true" /> <!-- true / false -->
	</bean>
</beans>