<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>selective filter example</display-name>

  <!-- selective filter -->
  <filter>
    <filter-name>noCacheFilter</filter-name>
    <filter-class>org.codelabor.system.web.filters.AntStylePathPatternNoCacheFilter</filter-class>
    <init-param>
      <param-name>includes</param-name>
      <param-value>/**/no-cache/*</param-value>
    </init-param>
    <init-param>
      <param-name>excludes</param-name>
      <param-value>/**/cache/*</param-value>
    </init-param>
  </filter>

  <!-- standard filter -->
  <!--
  <filter>
    <filter-name>noCacheFilter</filter-name>
    <filter-class>org.codelabor.system.web.filters.NoCacheFilter</filter-class>
  </filter>
  -->

  <filter-mapping>
    <filter-name>noCacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
