<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean 
		id="example.userService" 
		class="org.codelabor.example.user.services.UserServiceImpl">
		<property name="userManager" ref="example.userManager"/>
		<property name="userRoleMapManager" ref="example.userRoleMapManager"/>
	</bean>		
</beans>
