<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.2.xsd">
	<security:http 
		session-fixation-protection="newSession">
		<security:intercept-url pattern="/index.*" filters="none"/>	
		<security:intercept-url pattern="/css/**" filters="none"/>
		<security:intercept-url pattern="/images/**" filters="none"/>
		<security:intercept-url pattern="/themes/**" filters="none"/>	
		<security:intercept-url pattern="/system/login/home.do*"/>
		<security:intercept-url pattern="/system/administration/**" access="ROLE_ADMIN" requires-channel="https"/>
		<security:intercept-url pattern="/system/preferences/**" access="ROLE_ADMIN,ROLE_USER" requires-channel="http"/>	
		<security:intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN" requires-channel="http"/>
		<security:form-login
			always-use-default-target="false"
			default-target-url="/system/login/success.do"
 			login-page="/system/login/home.do"
			authentication-failure-url="/system/login/home.do?login_error=true"/>
		<security:anonymous username="anonymous"/>
		<security:logout logout-success-url="/system/login/home.do"/>
		<security:remember-me data-source-ref="oracleDataSource"/>
		<security:concurrent-session-control max-sessions="1"/>
		<security:x509/>
	</security:http>
	<security:authentication-provider>
		<security:password-encoder hash="sha"/>
		<!-- in memory -->
		<!--  
		<security:user-service>
			<security:user name="admin" password="d033e22ae348aeb5660fc2140aec35850c4da997" authorities="ROLE_ADMIN, ROLE_USER"/>
			<security:user name="bomber" password="4d32bbf089a6458f046b60ba671d2ded7b475ee9" authorities="ROLE_USER"/>
		</security:user-service>
		-->
		<!-- jdbc user service  -->
		<security:jdbc-user-service
			cache-ref="userCache"
			data-source-ref="oracleDataSource"
			authorities-by-username-query="
				SELECT USERNAME, AUTHORITY AS AUTHORITIES
				FROM USERS_AUTHORITIES_MAP
				WHERE USERNAME = ?"
			users-by-username-query="
				SELECT USERNAME, PASSWORD, ENABLED 
				FROM USERS
				WHERE USERNAME = ?"/>
	</security:authentication-provider>
	<security:global-method-security>
		<security:protect-pointcut 
			expression="execution(* org.codelabor.system.administration.**.*(..))" 
			access="ROLE_ADMIN"/>	
	</security:global-method-security>
</beans>
