<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean 
		id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
<!-- spring security -->
				<value>classpath:org/springframework/security/messages</value>
							
				<!-- anyframe message -->
				<value>classpath:anyframe/core/properties/messages/properties</value>
				<value>classpath:anyframe/core/idgen/messages/idgeneration</value>
				<value>classpath:anyframe/core/process/messages/process</value>
				<value>classpath:anyframe/core/adaptormanager/messages/adaptormanager</value>
				<value>classpath:anyframe/core/query/messages/query</value>
							
				<!-- example -->
				<value>/WEB-INF/classes/messages/example/menu</value>
				<value>/WEB-INF/classes/messages/example/button</value>
				<value>/WEB-INF/classes/messages/example/label</value>
				<value>/WEB-INF/classes/messages/example/images</value>
				<value>/WEB-INF/classes/messages/example/messages</value>
				<value>/WEB-INF/classes/messages/example/errors</value>
							
				<value>/WEB-INF/classes/messages/example/encryption/menu</value>
				<value>/WEB-INF/classes/messages/example/encryption/button</value>
				<value>/WEB-INF/classes/messages/example/encryption/label</value>
				<value>/WEB-INF/classes/messages/example/encryption/images</value>
				<value>/WEB-INF/classes/messages/example/encryption/messages</value>
				<value>/WEB-INF/classes/messages/example/encryption/errors</value>							
			
				<!-- system -->
				<value>/WEB-INF/classes/messages/system/menu</value>
				<value>/WEB-INF/classes/messages/system/button</value>
				<value>/WEB-INF/classes/messages/system/label</value>
				<value>/WEB-INF/classes/messages/system/images</value>
				<value>/WEB-INF/classes/messages/system/messages</value>
				<value>/WEB-INF/classes/messages/system/errors</value>
				
				<value>/WEB-INF/classes/messages/system/login/menu</value>
				<value>/WEB-INF/classes/messages/system/login/button</value>
				<value>/WEB-INF/classes/messages/system/login/label</value>
				<value>/WEB-INF/classes/messages/system/login/images</value>
				<value>/WEB-INF/classes/messages/system/login/messages</value>
				<value>/WEB-INF/classes/messages/system/login/errors</value>
								
				<value>/WEB-INF/classes/messages/system/preferences/menu</value>
				<value>/WEB-INF/classes/messages/system/preferences/button</value>
				<value>/WEB-INF/classes/messages/system/preferences/label</value>
				<value>/WEB-INF/classes/messages/system/preferences/images</value>
				<value>/WEB-INF/classes/messages/system/preferences/messages</value>
				<value>/WEB-INF/classes/messages/system/preferences/errors</value>
			</list>
		</property>
		<property name="cacheSeconds" value="1"/>
	</bean>	
</beans>
