<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean 
		id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<!-- system message -->
				<value>/WEB-INF/messages/system/menu</value>
				<value>/WEB-INF/messages/system/button</value>
				<value>/WEB-INF/messages/system/label</value>
				<value>/WEB-INF/messages/system/images</value>
				<value>/WEB-INF/messages/system/messages</value>
				<value>/WEB-INF/messages/system/errors</value>
								
				<value>/WEB-INF/messages/system/preperences/menu</value>
				<value>/WEB-INF/messages/system/preperences/button</value>
				<value>/WEB-INF/messages/system/preperences/label</value>
				<value>/WEB-INF/messages/system/preperences/images</value>
				<value>/WEB-INF/messages/system/preperences/messages</value>
				<value>/WEB-INF/messages/system/preperences/errors</value>
			</list>
		</property>
		<property name="cacheSeconds" value="1"/>
	</bean>	
</beans>
