<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- affected row count 값을 사용하지 않는 경우에만 활성화 할 것, 반영 건수가 틀리게 나오므로 주의 -->
		<!-- <setting name="defaultExecutorType" value="BATCH"/> -->
	</settings>
	<typeAliases>
		<package name="org.codelabor.example.emp.dto" />
		<package name="org.codelabor.example.encoding.dto" />
		<package name="org.codelabor.example.username.dto" />
		<package name="org.codelabor.example.validation.dto" />
		<package name="org.codelabor.system.dto" />
	</typeAliases>
</configuration>