<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
		
	<bean 
		id="empDAO" 
		class="org.codelabor.example.daos.EmpDAOImpl"
		parent="baseDAO">
		<property name="idGenerationService">
			<ref bean="empNoGenerationService" />
		</property>		
	</bean>
	<bean 
		id="empManager" 
		class="org.codelabor.example.managers.EmpManagerImpl"
		parent="baseManager">
		<property name="empDAO" ref="empDAO"/>
	</bean>
</beans>
