<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.emp.dao.DeptDao">
	<select id="selectDept" resultType="deptDto">
		SELECT /* selectDept */ LOC,
		DNAME, DEPTNO
		FROM DEPT
		WHERE DEPTNO = #{deptNo}
	</select>
	<select id="selectDeptList" resultType="deptDto">
		SELECT /* selectDeptList
		*/ LOC, DNAME, DEPTNO
		FROM DEPT
	</select>
</mapper>