<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>codelabor-system-sniffer-web</display-name>

	<!-- sniffer filter -->
	<filter>
		<filter-name>snifferFilter</filter-name>
		<filter-class>org.codelabor.system.filters.SnifferFilter</filter-class>
	</filter>	
	<filter-mapping>
		<filter-name>snifferFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
	<!-- sniffer servlet -->
  	<servlet>
  		<servlet-name>snifferServlet</servlet-name>
  		<servlet-class>org.codelabor.system.servlets.SnifferServlet</servlet-class>
	</servlet>
	<servlet-mapping>
  		<servlet-name>snifferServlet</servlet-name>
		<url-pattern>/servlet/snifferServlet</url-pattern>
	</servlet-mapping>
	  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>