<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="jndiTemplateJeus" 
		class="org.springframework.jndi.JndiTemplate">
	    <property name="environment">
	       <props>
	          <prop key="java.naming.factory.initial">jeus.jndi.JEUSContextFactory</prop>
	          <prop key="java.naming.provider.url">localhost:9736</prop>			
	          <prop key="java.naming.factory.url.pkgs">jeus.jndi.jns.url</prop>
	          <!--  
	          <prop key="java.naming.security.principal">administrator</prop>
	          <prop key="java.naming.security.credentials">jeusadmin</prop>
	          -->
	       </props>
	    </property>
	</bean>
</beans>
