<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<bean id="sniffer"
		class="org.codelabor.edu.SnifferAdvice">
	</bean>
	
	<aop:config>
		<aop:aspect ref="sniffer">
			<aop:before method="dumpArguments" 
				pointcut-ref="sayHelloMethod" />
			<aop:around method="getElapsedTime"
				pointcut-ref="sayHelloMethod" />
			<aop:after-returning returning="returnObject"
				method="dumpReturn" pointcut-ref="sayHelloMethod" />
		</aop:aspect>
	</aop:config>
</beans>
