<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="jbossJndiTemplate" 
		class="org.springframework.jndi.JndiTemplate">
	    <property name="environment">
	       <props>
	          <prop key="java.naming.factory.initial">org.jnp.interfaces.NamingContextFactory</prop>
	          <prop key="java.naming.provider.url">localhost</prop>			
	          <prop key="java.naming.factory.url.pkgs">org.jnp.interfaces:org.jboss.naming</prop>
	          <!--  
	          <prop key="java.naming.security.principal"></prop>
	          <prop key="java.naming.security.credentials"></prop>
	          -->
	       </props>
	    </property>
	</bean>
</beans>
