<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="fileManager"
		class="org.codelabor.system.file.manager.FileManagerImpl">
		<property name="fileDAO" ref="fileDAO"/>
	</bean>

	<bean id="fileDAO"
		class="org.codelabor.system.file.dao.FileDAOImpl">
		<property name="idGenerationService" ref="fileIdGenerationService"/>
		<property name="queryService" ref="queryService" />
	</bean>
</beans>
