<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<bean id="sniffer"
		class="org.codelabor.system.advices.SnifferAdvice"
		parent="baseAdvice">
		<property name="messageSource" ref="messageSource"/>
	</bean>
	
	<aop:config>
		<aop:aspect ref="sniffer">
			<!-- handler -->
			<aop:before method="dumpArguments" pointcut-ref="handlerMethod" />
			<aop:after-throwing throwing="exception"
				method="dumpException" pointcut-ref="handlerMethod" />
			<aop:around method="getElapsedTime" pointcut-ref="handlerMethod" />
			<aop:after-returning returning="returnObject"
				method="dumpReturn" pointcut-ref="handlerMethod" />
						
			<!-- action -->
			<aop:before method="dumpArguments" pointcut-ref="actionMethod" />
			<aop:after-throwing throwing="exception"
				method="dumpException" pointcut-ref="actionMethod" />
			<aop:around method="getElapsedTime" pointcut-ref="actionMethod" />
			<aop:after-returning returning="returnObject"
				method="dumpReturn" pointcut-ref="actionMethod" />
			
			<!-- service -->			
			<aop:before method="dumpArguments"
				pointcut-ref="serviceMethod" />
			<aop:after-throwing throwing="exception"
				method="dumpException" pointcut-ref="serviceMethod" />
			<aop:around method="getElapsedTime"
				pointcut-ref="serviceMethod" />
			<aop:after-returning returning="returnObject"
				method="dumpReturn" pointcut-ref="serviceMethod" />				
				
			<!-- manager -->
			<aop:before method="dumpArguments"
				pointcut-ref="managerMethod" />
			<aop:after-throwing throwing="exception"
				method="dumpException" pointcut-ref="managerMethod" />
			<aop:around method="getElapsedTime"
				pointcut-ref="managerMethod" />
			<aop:after-returning returning="returnObject"
				method="dumpReturn" pointcut-ref="managerMethod" />					
			
			<!-- dao  -->
			<aop:before method="dumpArguments" pointcut-ref="daoMethod" />
			<aop:after-throwing throwing="exception"
				method="dumpException" pointcut-ref="daoMethod" />
			<aop:around method="getElapsedTime"
				pointcut-ref="daoMethod" />
			<aop:after-returning returning="returnObject"
				method="dumpReturn" pointcut-ref="daoMethod" />
		</aop:aspect>
	</aop:config>
</beans>
