<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean name="mapIdGenService"
		class="org.anyframe.idgen.impl.SequenceIdGenServiceImpl"
		destroy-method="destroy">
		<property name="dataSource" ref="dataSource" />
		<property name="strategy" ref="mapIdStrategy" />
		<property name="query" value="SELECT MAP_ID_SEQ.NEXTVAL FROM DUAL" />
	</bean>

	<bean name="fileIdGenService"
		class="org.anyframe.idgen.impl.SequenceIdGenServiceImpl"
		destroy-method="destroy">
		<property name="dataSource" ref="dataSource" />
		<property name="strategy" ref="fileIdStrategy" />
		<property name="query" value="SELECT FILE_ID_SEQ.NEXTVAL FROM DUAL" />
	</bean>

	<bean name="uniqueFilenameGenerationService"
		class="org.anyframe.idgen.impl.SequenceIdGenServiceImpl"
		destroy-method="destroy">
		<property name="dataSource" ref="dataSource" />
		<property name="strategy" ref="uniqueFilenameStrategy" />
		<property name="query" value="SELECT FILE_NAME_SEQ.NEXTVAL FROM DUAL" />
	</bean>

</beans>
