<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean
		id="holidayCalendarService"
		class="org.codelabor.system.calendar.services.HolidayCalendarServiceImpl">
		<property name="formatPattern" value="yyyy-MM-dd"/>
		<property name="dateRangeFrom" value="2010-01-01"/>
		<property name="dateRangeTo" value="2010-12-31"/>
		<property name="holidayMap">
			<map>
				<!-- 2010 공휴일, 토요일, 일요일 -->
				<!-- 1월 -->
				<entry key="2010-01-01" value="신정" />
				<entry key="2010-01-02" value="토요일" />
				<entry key="2010-01-03" value="일요일" />
				<entry key="2010-01-09" value="토요일" />
				<entry key="2010-01-10" value="일요일" />
				<entry key="2010-01-16" value="토요일" />
				<entry key="2010-01-17" value="일요일" />
				<entry key="2010-01-23" value="토요일" />
				<entry key="2010-01-24" value="일요일" />
				<entry key="2010-01-30" value="토요일" />
				<entry key="2010-01-31" value="일요일" />
				<!-- 2월 -->
				<entry key="2010-02-06" value="토요일" />
				<entry key="2010-02-07" value="일요일" />
				<entry key="2010-02-13" value="설연휴" />
				<entry key="2010-02-14" value="설연휴" />
				<entry key="2010-02-15" value="설연휴" />
				<entry key="2010-02-20" value="토요일" />
				<entry key="2010-02-21" value="일요일" />
				<entry key="2010-02-27" value="토요일" />
				<entry key="2010-02-28" value="일요일" />
				<!-- 3월 -->
				<entry key="2010-03-01" value="삼일절" />
				<entry key="2010-03-06" value="토요일" />
				<entry key="2010-03-07" value="일요일" />
				<entry key="2010-03-13" value="토요일" />
				<entry key="2010-03-14" value="일요일" />
				<entry key="2010-03-20" value="토요일" />
				<entry key="2010-03-21" value="일요일" />
				<entry key="2010-03-27" value="토요일" />
				<entry key="2010-03-28" value="일요일" />
				<!-- 4월 -->
				<entry key="2010-04-03" value="토요일" />
				<entry key="2010-04-04" value="일요일" />
				<entry key="2010-04-10" value="토요일" />
				<entry key="2010-04-11" value="일요일" />
				<entry key="2010-04-17" value="토요일" />
				<entry key="2010-04-18" value="일요일" />
				<entry key="2010-04-24" value="토요일" />
				<entry key="2010-04-25" value="일요일" />
				<!-- 5월 -->
				<entry key="2010-05-01" value="토요일" />
				<entry key="2010-05-02" value="일요일" />
				<entry key="2010-05-05" value="어린이날" />
				<entry key="2010-05-08" value="토요일" />
				<entry key="2010-05-09" value="일요일" />
				<entry key="2010-05-15" value="토요일" />
				<entry key="2010-05-16" value="일요일" />
				<entry key="2010-05-21" value="석가탄신일" />
				<entry key="2010-05-22" value="토요일" />
				<entry key="2010-05-23" value="일요일" />
				<!-- 6월 -->
				<entry key="2010-06-05" value="토요일" />
				<entry key="2010-06-06" value="현충일" />
				<entry key="2010-06-12" value="토요일" />
				<entry key="2010-06-13" value="일요일" />
				<entry key="2010-06-19" value="토요일" />
				<entry key="2010-06-20" value="일요일" />
				<entry key="2010-06-26" value="토요일" />
				<entry key="2010-06-27" value="일요일" />
				<!-- 7월 -->
				<entry key="2010-07-03" value="토요일" />
				<entry key="2010-07-04" value="일요일" />
				<entry key="2010-07-10" value="토요일" />
				<entry key="2010-07-11" value="일요일" />
				<entry key="2010-07-17" value="제헌절" />
				<entry key="2010-07-18" value="일요일" />
				<entry key="2010-07-24" value="토요일" />
				<entry key="2010-07-25" value="일요일" />
				<entry key="2010-07-31" value="토요일" />
				<!-- 8월 -->
				<entry key="2010-08-01" value="일요일" />
				<entry key="2010-08-07" value="토요일" />
				<entry key="2010-08-08" value="일요일" />
				<entry key="2010-08-14" value="토요일" />
				<entry key="2010-08-15" value="광복절" />
				<entry key="2010-08-21" value="토요일" />
				<entry key="2010-08-22" value="일요일" />
				<entry key="2010-08-28" value="토요일" />
				<entry key="2010-08-29" value="일요일" />
				<!-- 9월 -->
				<entry key="2010-09-04" value="토요일" />
				<entry key="2010-09-05" value="일요일" />
				<entry key="2010-09-11" value="토요일" />
				<entry key="2010-09-12" value="일요일" />
				<entry key="2010-09-18" value="토요일" />
				<entry key="2010-09-19" value="일요일" />
				<entry key="2010-09-21" value="추석연휴" />
				<entry key="2010-09-22" value="추석연휴" />
				<entry key="2010-09-23" value="추석연휴" />
				<entry key="2010-09-25" value="토요일" />
				<entry key="2010-09-26" value="일요일" />
				<!-- 10월 -->
				<entry key="2010-10-02" value="토요일" />
				<entry key="2010-10-03" value="일요일" />
				<entry key="2010-10-09" value="토요일" />
				<entry key="2010-10-10" value="일요일" />
				<entry key="2010-10-16" value="토요일" />
				<entry key="2010-10-17" value="일요일" />
				<entry key="2010-10-23" value="토요일" />
				<entry key="2010-10-24" value="일요일" />
				<entry key="2010-10-30" value="토요일" />
				<entry key="2010-10-31" value="일요일" />
				<!-- 11월 -->
				<entry key="2010-11-06" value="토요일" />
				<entry key="2010-11-07" value="일요일" />
				<entry key="2010-11-13" value="토요일" />
				<entry key="2010-11-14" value="일요일" />
				<entry key="2010-11-20" value="토요일" />
				<entry key="2010-11-21" value="일요일" />
				<entry key="2010-11-27" value="토요일" />
				<entry key="2010-11-28" value="일요일" />
				<!-- 12월 -->
				<entry key="2010-12-04" value="토요일" />
				<entry key="2010-12-05" value="일요일" />
				<entry key="2010-12-11" value="토요일" />
				<entry key="2010-12-12" value="일요일" />
				<entry key="2010-12-18" value="토요일" />
				<entry key="2010-12-19" value="일요일" />
				<entry key="2010-12-25" value="성탄절" />
				<entry key="2010-12-26" value="일요일" />
			</map>
		</property>
	</bean>

	<bean
		id="fiveDayWorkweekCalendarService"
		class="org.codelabor.system.calendar.services.FiveDayWorkweekCalendarServiceImpl">
		<property name="formatPattern" value="yyyy-MM-dd"/>
		<property name="dateRangeFrom" value="2009-01-01"/>
		<property name="dateRangeTo" value="2011-12-31"/>
		<property name="holidayMap">
			<map>
				<!-- 2009 공휴일 -->
				<!-- 1월 -->
				<entry key="2009-01-01" value="신정" />
				<entry key="2009-01-25" value="설연휴" />
				<entry key="2009-02-26" value="설연휴" />
				<entry key="2009-02-27" value="설연휴" />
				<!-- 2월 -->
				<!-- 3월 -->
				<entry key="2009-03-01" value="삼일절" />
				<!-- 4월 -->
				<!-- 5월 -->
				<entry key="2009-05-02" value="석가탄신일" />
				<entry key="2009-05-05" value="어린이날" />
				<!-- 6월 -->
				<entry key="2009-06-06" value="현충일" />
				<!-- 7월 -->
				<!-- 8월 -->
				<entry key="2009-08-15" value="광복절" />
				<!-- 9월 -->
				<!-- 10월 -->
				<entry key="2009-10-02" value="추석연휴" />
				<entry key="2009-10-03" value="추석연휴, 개천절" />
				<entry key="2009-10-04" value="추석연휴" />
				<!-- 11월 -->
				<!-- 12월 -->
				<entry key="2009-12-25" value="성탄절" />

				<!-- 2010 공휴일 -->
				<!-- 1월 -->
				<entry key="2010-01-01" value="신정" />
				<!-- 2월 -->
				<entry key="2010-02-13" value="설연휴" />
				<entry key="2010-02-14" value="설연휴" />
				<entry key="2010-02-15" value="설연휴" />
				<!-- 3월 -->
				<entry key="2010-03-01" value="삼일절" />
				<!-- 4월 -->
				<!-- 5월 -->
				<entry key="2010-05-05" value="어린이날" />
				<entry key="2010-05-21" value="석가탄신일" />
				<!-- 6월 -->
				<entry key="2010-06-06" value="현충일" />
				<!-- 7월 -->
				<!-- 8월 -->
				<entry key="2010-08-15" value="광복절" />
				<!-- 9월 -->
				<entry key="2010-09-21" value="추석연휴" />
				<entry key="2010-09-22" value="추석연휴" />
				<entry key="2010-09-23" value="추석연휴" />
				<!-- 10월 -->
				<entry key="2010-10-03" value="개천절" />
				<!-- 11월 -->
				<!-- 12월 -->
				<entry key="2010-12-25" value="성탄절" />

				<!-- 2011 공휴일 -->
				<!-- 1월 -->
				<entry key="2011-01-01" value="신정" />
				<!-- 2월 -->
				<entry key="2011-02-02" value="설연휴" />
				<entry key="2011-02-03" value="설연휴" />
				<entry key="2011-02-04" value="설연휴" />
				<!-- 3월 -->
				<entry key="2011-03-01" value="삼일절" />
				<!-- 4월 -->
				<!-- 5월 -->
				<entry key="2011-05-05" value="어린이날" />
				<entry key="2011-05-10" value="석가탄신일" />
				<!-- 6월 -->
				<entry key="2011-06-06" value="현충일" />
				<!-- 7월 -->
				<!-- 8월 -->
				<entry key="2011-08-15" value="광복절" />
				<!-- 9월 -->
				<entry key="2011-09-11" value="추석연휴" />
				<entry key="2011-09-12" value="추석연휴" />
				<entry key="2011-09-13" value="추석연휴" />
				<!-- 10월 -->
				<entry key="2011-10-03" value="개천절" />
				<!-- 11월 -->
				<!-- 12월 -->
				<entry key="2011-12-25" value="성탄절" />
			</map>
		</property>
	</bean>
</beans>
