<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="helloWorldService" class="org.codelabor.example.service.HelloWorldServiceImpl"/>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="simpleTrigger"/>
			</list>
		</property>
	</bean>

	<!--  
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="exampleJobDetail"/>
		<property name="cronExpression" value="0 * * * * ?"/>
	</bean>
	-->
	
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="exampleJobDetail"/>
		<property name="startDelay" value="5000"/>
		<property name="repeatInterval" value="1000"/>
	</bean>
	
	<bean id="exampleJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="helloWorldService"/>
		<property name="targetMethod" value="sayHello"/>
		<property name="concurrent" value="false"/>
	</bean>	

</beans>
