<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security-3.0.xsd">
	<security:http
		session-fixation-protection="migrateSession"
		lowercase-comparisons="false"
		entry-point-ref="loginUrlAuthenticationEntryPoint">
		<security:intercept-url pattern="/index.*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/css/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/images/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/themes/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/resources/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/XecureObject/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/servlet/system/snifferServlet*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/servlet/system/sniffer/xecureSnifferServlet*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/servlet/system/file/xecureFileUploadServlet*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/system/login/home.do*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/system/login/xecure/login.do*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/system/error/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/system/administration/**" access="ROLE_ADMIN"/>
		<security:intercept-url pattern="/system/preferences/**" access="ROLE_ADMIN,ROLE_USER"/>
		<security:intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN"/>
		<security:anonymous username="anonymous"/>
		<security:logout logout-success-url="/system/login/home.do"/>
		<security:remember-me user-service-ref="queryServiceUserDetailsService" data-source-ref="oracleDataSource"/>
		<security:concurrent-session-control max-sessions="1" expired-url="/system/login/home.do"/>
	</security:http>

	<!-- authentication manager -->
	<security:authentication-manager alias="authenticationManager"/>

	<!-- access decision manager -->
	<bean
		id="accessDecisionManager"
		class="org.springframework.security.access.vote.AffirmativeBased">
        <property name="allowIfAllAbstainDecisions" value="false" />
        <property name="decisionVoters">
            <list>
                <bean class="org.springframework.security.access.vote.RoleVoter">
                    <property name="rolePrefix" value="ROLE_" />
                </bean>
                <bean class="org.springframework.security.access.vote.AuthenticatedVoter" />
            </list>
        </property>
    </bean>

	<!-- authentication provider -->
	<bean
		id="pkiAuthProvider"
		class="org.codelabor.system.authentication.PKIAuthenticationProvider">
		<security:custom-authentication-provider/>
		<property name="userDetailsService" ref="pkiAuthenticatedUserDetailsService"/>
	</bean>
	<security:authentication-provider user-service-ref="queryServiceUserDetailsService">
		<security:password-encoder hash="sha"/>
	</security:authentication-provider>

	<security:global-method-security>
		<security:protect-pointcut
			expression="execution(* org.codelabor.system.administration.**.*(..))"
			access="ROLE_ADMIN"/>
	</security:global-method-security>

	<!-- filter -->
	<bean
		id="pkiAuthenticationProcessingFilter"
		class="org.codelabor.system.security.xecure.filters.XecurePKIAuthenticationProcessingFilter">
		<security:custom-filter position="AUTHENTICATION_PROCESSING_FILTER"/>
		<property name="authenticationManager" ref="authenticationManager"/>
		<property name="authenticationSuccessHandler" ref="authenticationSuccessHandler"/>
		<property name="authenticationFailureHandler" ref="authenticationFailureHandler"/>
	</bean>
	<!--
    <bean
    	id="filterSecurityInterceptor"
    	class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
        <security:custom-filter before="FILTER_SECURITY_INTERCEPTOR" />
        <property name="authenticationManager" ref="authenticationManager" />
        <property name="accessDecisionManager" ref="accessDecisionManager" />
        <property name="objectDefinitionSource" ref="databaseObjectDefinitionSource" />
    </bean>
    -->

    <bean id="databaseObjectDefinitionSource"
        class="org.codelabor.system.services.ReloadableDefaultFilterInvocationSecurityMetaSource">
        <constructor-arg ref="antUrlPathMatcher" />
        <constructor-arg ref="requestMapFactory"/>
    </bean>

	<!-- path matcher -->
	<bean id="antUrlPathMatcher" class="org.springframework.security.web.util.AntUrlPathMatcher" />
	<bean id="regexUrlPathMatcher" class="org.springframework.security.web.util.RegexUrlPathMatcher" />

	<!-- request map factory -->
	<bean
		id="requestMapFactory"
		class="org.codelabor.system.factories.RequestMapFactoryBean">
	</bean>

	<!-- authentication handler -->
	<bean id="authenticationSuccessHandler"
		class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<property name="defaultTargetUrl" value="/system/login/success.do"/>
	</bean>
	<bean id="authenticationFailureHandler"
		class="org.springframework.security.web.authentication.ExceptionMappingAuthenticationFailureHandler">
		<property name="defaultFailureUrl" value="/system/login/home.do?login_error=true"/>
		<!--
		<property name="exceptionMapping">
			<map>
				<entry key="org.springframework.security.authentication.AuthenticationServiceException
				" value=""/>
			</map>
		</property>
		 -->
	</bean>

	<!-- entiry point -->
	<bean id="loginUrlAuthenticationEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<property name="loginFormUrl" value="/system/login/home.do" />
	</bean>
</beans>
