<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration>
<log4j:configuration 
	xmlns:log4j="http://jakarta.apache.org/log4j/" 
	debug="true" >
	
	<!-- system -->
    <appender 
    	name="console" 
    	class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%c] %m%n" />
        </layout>   
    </appender>
	<appender 
		name="defaultDailyRollingFile" 
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="c:/anyframe/logs/anyframe.log"/>
		<param name="DatePattern" value=".yyyy-MM-dd"/>
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="%d %5p [%c] %m%n" />
	    </layout>   
	</appender>
	<appender 
		name="codelaborDailyRollingFile" 
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="c:/anyframe/logs/codelabor.log"/>
		<param name="DatePattern" value=".yyyy-MM-dd"/>
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="%d %5p [%c] %m%n" />
	    </layout>   
	</appender>	
	
    <root>
        <level value="debug"/>
		<appender-ref ref="console"/>
		<appender-ref ref="defaultDailyRollingFile"/>
    </root>      
    
	<!-- codelabor -->
	<logger name="org.codelabor" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="codelaborDailyRollingFile"/>
	</logger>	
</log4j:configuration>
