<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean 
		id="httpAdapterService" 
		class="org.codelabor.system.remoting.http.services.HttpAdapterServiceImpl"
		parent="baseService">
		<property name="url">
			<value>http://www.google.com/search</value>
		</property>
		<property name="retry" value="3"/>
	</bean>
	
	<bean 
		id="messageHandlerHttpAdapterService" 
		class="org.codelabor.system.remoting.http.services.HttpAdapterServiceImpl"
		parent="baseService">
		<property name="url">
			<value>http://localhost:10300/servlet/system/remoting/message/messageHandlerServlet</value>
		</property>
		<property name="charsetName" value="EUC-KR" />
		<property name="contentType" value="text/html;charset=EUC-KR" />
	</bean>	
</beans>
