<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!--
	<bean
		id="exampleBankingAccountDao"
		class="org.codelabor.example.banking.account.daos.AccountDAOImpl"
		parent="baseDAO">
		<property name="idGenerationService">
			<ref bean="accountNoGenerationService" />
		</property>
	</bean>
	<bean
		id="exampleBankingAccountManager"
		class="org.codelabor.example.banking.account.managers.AccountManagerImpl"
		parent="baseManager">
		<property name="accountDAO" ref="exampleBankingAccountDao"/>
	</bean>
	-->
	<bean
		id="exampleBankingAccountManager"
		class="org.codelabor.example.banking.account.managers.AccountManagerMock"
		parent="baseManager">
	</bean>
</beans>
