<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="schedulerFactoryBean" 
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref local="helloWorldServiceTrigger"/>
			</list>
		</property>		
	</bean>	
	
	<bean id="helloWorldServiceTrigger" 
		class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="helloWorldServiceJobDetail" />
		<property name="repeatInterval" value="1000"/>
		<property name="repeatCount" value="5"/>
	</bean>
	
	<bean id="helloWorldServiceJobDetail" 
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="helloWorldService"/>
		<property name="targetMethod" value="sayHello"/>
	</bean>
</beans>

