<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] %-5p [%l] - %m%n" />
		</layout>
	</appender>
	
	<appender
		name="defaultDailyRollingFile"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/default-dailly-rolling.log"/>
		<param name="DatePattern" value=".yyyy-MM-dd"/>
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%d] %-5p [%l] - %m%n" />
	    </layout>
	</appender>
	
	<appender
		name="defaultDailyRollingFileAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/default-dailly-rolling.log"/>
		<param name="DatePattern" value=".yyyy-MM-dd"/>
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%d] %-5p [%l] - %m%n" />
	    </layout>
	</appender>
	
	<!-- codelabor -->
	<appender
		name="codelaborDailyRollingAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/codelabor-dailly-rolling.log"/>
		<param name="DatePattern" value=".yyyy-MM-dd"/>
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%d] %-5p [%l] - %m%n" />
	    </layout>
	</appender>
	
	<!-- spring -->
	<appender
		name="springDailyRollingAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/spring-dailly-rolling.log"/>
		<param name="DatePattern" value=".yyyy-MM-dd"/>
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%d] %-5p [%l] - %m%n" />
	    </layout>
	</appender>	
	
	<!-- spring jdbc -->
	<appender
		name="springJdbcDailyRollingAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/spring-jdbc-dailly-rolling.log"/>
		<param name="DatePattern" value=".yyyy-MM-dd"/>
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%d] %-5p [%l] - %m%n" />
	    </layout>
	</appender>
	
	<!-- spring transaction -->
	<appender
		name="springTransactionDailyRollingAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/spring-transaction-dailly-rolling.log"/>
		<param name="DatePattern" value=".yyyy-MM-dd"/>
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%d] %-5p [%l] - %m%n" />
	    </layout>
	</appender>
	
	<!-- dbcp -->
	<appender
		name="dbcpDailyRollingAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/dbcp-dailly-rolling.log"/>
		<param name="DatePattern" value=".yyyy-MM-dd"/>
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%d] %-5p [%l] - %m%n" />
	    </layout>
	</appender>		
	
	<!-- jdbc -->
	<appender
		name="jdbcDailyRollingAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/jdbc-dailly-rolling.log"/>
		<param name="DatePattern" value=".yyyy-MM-dd"/>
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%d] %-5p [%l] - %m%n" />
	    </layout>
	</appender>	

	<!-- codelabor -->
	<logger name="org.codelabor" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="codelaborDailyRollingAppender" />
	</logger>
	
	<!-- spring -->
	<logger name="org.springframework" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="springDailyRollingAppender" />
	</logger>	
	
	<!-- spring jdbc -->
	<logger name="org.springframework.jdbc" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="springJdbcDailyRollingAppender" />
	</logger>
	
	<!-- spring transaction -->
	<logger name="org.springframework.transaction" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="springTransactionDailyRollingAppender" />
	</logger>
	
	<!-- dbcp -->
	<logger name="org.apache.commons.dbcp" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="dbcpDailyRollingAppender"/>
	</logger>	
	
	<!-- jdbc -->
	<logger name="jdbc" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="jdbcDailyRollingAppender"/>
	</logger>
	<!--  
	<logger name="jdbc.sqltiming" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="jdbcDailyRollingAppender"/>
	</logger>
	<logger name="jdbc.sqlonly" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="jdbcDailyRollingAppender"/>
	</logger>	
	<logger name="jdbc.accessLog" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="jdbcDailyRollingAppender"/>
	</logger>
	<logger name="jdbc.audit" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="jdbcDailyRollingAppender"/>
	</logger>	
	<logger name="jdbc.resultset" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="jdbcDailyRollingAppender"/>
	</logger>
	-->

	<root>
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="defaultDailyRollingFileAppender" />
	</root>
</log4j:configuration>