<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-2.5.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="threadModel" class="org.apache.mina.integration.spring.ExecutorThreadModelFactoryBean">
		<property name="serviceName" value="defaultService"/>
		<property name="executor" ref="executor"/>
	</bean>

	<bean id="executor" class="org.apache.mina.integration.spring.ThreadPoolExecutorFactoryBean">
		<property name="corePoolSize" value="5"/>
		<property name="maxPoolSize"  value="20"/>
	  <property name="queueCapacity" value="20"/>
	</bean>

	<bean id="filterChainBuilder" class="org.apache.mina.integration.spring.DefaultIoFilterChainBuilderFactoryBean">
	  <property name="filters">
	    <list>
	      <bean class="org.apache.mina.filter.LoggingFilter" />
	    </list>
	  </property>
	</bean>

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
      <property name="customEditors" >
        <map>
          <entry
          	key="java.net.SocketAddress"
          	value="org.apache.mina.integration.spring.InetSocketAddressEditor" />
        </map>
      </property>
    </bean>




</beans>
