<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     
                        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-2.5.xsd
                        http://www.springframework.org/schema/aop 
                        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
                        
  <bean id="ioAcceptor" class="org.apache.mina.integration.spring.IoAcceptorFactoryBean">
    <property name="target">
      <bean class="org.apache.mina.transport.socket.nio.SocketAcceptor" />
    </property>
    <property name="bindings">
      <list>
        <bean class="org.apache.mina.integration.spring.Binding">
          <property name="address" value=":8080" />
          <property name="handler" ref="ServerIoHandler" />
          <property name="serviceConfig" ref="acceptorConfig"/>
        </bean>
      </list>
    </property>
  </bean>
  
  <bean id="acceptorConfig"  class="org.apache.mina.transport.socket.nio.SocketAcceptorConfig">
     <property name="filterChainBuilder" ref="filterChainBuilder" />
     <property name="reuseAddress" value="true" />   
     <property name="threadModel" ref="threadModel"/>  
  </bean>
   
  <bean id="ServerIoHandler" class="anyframe.es.tcp.ServerIoHandler" />

</beans>
