<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-2.5.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="ksfcMinaSocketAdapterService" class="anyframe.es.tcp.Client">
	  <property name="connector" ref="connector"/>
      <property name="address" value="172.25.33.6:9085" />
	  <property name="connectorConfig" ref="connectorConfig"/>
	  <property name="clientIoHandler" ref="clientIoHandler"/>
	</bean>

	<bean id="connector" class="org.apache.mina.transport.socket.nio.SocketConnector">
		<constructor-arg index="0">
			<value>1</value>
		</constructor-arg>
		<constructor-arg index="1">
			<ref bean="executor"/>
		</constructor-arg>
	</bean>

	<bean id="connectorConfig"  class="org.apache.mina.transport.socket.nio.SocketConnectorConfig">
	   <property name="filterChainBuilder" ref="filterChainBuilder" />
	   <property name="threadModel" ref="threadModel"/>
	</bean>

	<bean id="clientIoHandler" class="anyframe.es.tcp.ClientIoHandler"/>

</beans>
