<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-2.5.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="ioServiceManager" class="anyframe.es.mgr.IoServiceManager">
		<constructor-arg index="0" ref="socketConnector" />
	</bean>

	<bean id="syncClient" class="anyframe.es.tcp.client.SyncClient">
	  <property name="connector" ref="socketConnector"/>
      <property name="address" value="172.25.33.6:9085" />
	  <property name="connectorConfig" ref="connectorConfig"/>
	  <property name="syncClientIoHandler" ref="clientIoHandler"/>
	</bean>

	<bean id="socketConnector" class="org.apache.mina.transport.socket.nio.SocketConnector">
		<constructor-arg index="0">
			<value>1</value>
		</constructor-arg>
		<constructor-arg index="1">
			<ref bean="executor"/>
		</constructor-arg>
	</bean>

	<bean id="connectorConfig"  class="org.apache.mina.transport.socket.nio.SocketConnectorConfig">
	   <property name="filterChainBuilder" ref="filterChainBuilder" />
	   <property name="threadModel" ref="threadModel"/>
	</bean>

	<bean id="clientIoHandler" class="anyframe.es.tcp.client.SyncClientIoHandler"/>

	<bean id="threadModel" class="org.apache.mina.integration.spring.ExecutorThreadModelFactoryBean">
		<property name="serviceName" value="defaultService"/>
		<property name="executor" ref="executor"/>
	</bean>

	<bean id="filterChainBuilder" class="org.apache.mina.integration.spring.DefaultIoFilterChainBuilderFactoryBean">
	  <property name="filters">
	    <list>
	      	<bean class="org.apache.mina.filter.codec.ProtocolCodecFilter">
				<constructor-arg index="0" ref="codec"/>
			</bean>
	    </list>
	  </property>
	</bean>

	<bean id="codec" class="anyframe.es.tcp.ksfc.KsfcCodecFactory"/>

	<bean id="executor" class="org.apache.mina.integration.spring.ThreadPoolExecutorFactoryBean">
		<property name="corePoolSize" value="10"/>
		<property name="maxPoolSize"  value="20"/>
	  <property name="queueCapacity" value="20"/>
	</bean>

	<!--
	<bean id="mbeanExporter" class="org.springframework.jmx.export.MBeanExporter">
		<property name="beans">
			<map>
				<entry key="server:name=ioService" value-ref="ioServiceManager" />
			</map>
		</property>
		<property name="registrationBehaviorName" value="REGISTRATION_REPLACE_EXISTING" />
		<property name="autodetect" value="true"/>
		<property name="server">
			<ref local="mbeanServer" />
		</property>
	</bean>



	<bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean">
		<property name="locateExistingServerIfPossible" value="true" />
	</bean>

	<bean id="serverConnector" class="org.springframework.jmx.support.ConnectorServerFactoryBean" depends-on="rmiRegistry">
		<property name="objectName" value="connector:name=rmi" />
		<property name="serviceUrl" value="service:jmx:rmi://localhost/jndi/rmi://localhost:1099/server" />
	</bean>

	<bean id="rmiRegistry" class="org.springframework.remoting.rmi.RmiRegistryFactoryBean">
		<property name="port" value="1099"/>
	</bean>
	-->
</beans>