<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!--
	<bean
		id="exampleBankingCustomerDao"
		class="org.codelabor.example.banking.customer.daos.CustomerDAOImpl"
		parent="baseDAO">
		<property name="idGenerationService">
			<ref bean="customerIdGenerationService" />
		</property>
	</bean>
	<bean
		id="exampleBankingCustomerManager"
		class="org.codelabor.example.banking.customer.managers.CustomerManagerImpl"
		parent="baseManager">
		<property name="bankDAO" ref="exampleCustomeringCustomerDao"/>
	</bean>
	-->
	<bean
		id="exampleBankingCustomerManager"
		class="org.codelabor.example.banking.customer.managers.CustomerManagerMock"
		parent="baseManager">
	</bean>
</beans>
