<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 
    <bean id="db2DataSource" class="net.sf.log4jdbc.AnyframeDataSourceSpy">
		<property name="dataSource" ref="db2RealDatasource"/>
	</bean>

	<bean id="db2RealDatasource" 
		class="org.springframework.jndi.JndiObjectFactoryBean">
	    <property name="jndiName" value="db2JCCXADataSource"/>
		<property name="jndiTemplate" ref="jndiTemplateJeus"/>
	</bean>
	 -->	
</beans>
