<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config="http://www.anyframejava.org/schema/service"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.anyframejava.org/schema/service http://www.anyframejava.org/schema/service/anyframe-core-service-2.0.xsd">

	<!-- 
	<bean id="queryService" 
		class="anyframe.core.query.impl.QueryServiceImpl">
		<property name="jdbcTemplate">
			<ref bean="pagingJdbcTemplate"/>
		</property>		
		<property name="sqlRepository">
			<ref bean="sqlLoader"/>
		</property>	
		<property name="lobHandler">
			<ref bean="lobHandler"/>
		</property>
		<property name="pagingSQLGenerator" 
			ref="pagingSQLGenerator"/>
	</bean>	
	
	<bean id="pagingJdbcTemplate" 
		class="anyframe.core.query.impl.jdbc.PagingJdbcTemplate">
	  	<constructor-arg ref="dataSource"/>
	</bean>
	
	<bean id="pagingSQLGenerator" 
		class="anyframe.core.query.impl.util.OraclePagingSQLGenerator"/>
	 
	<bean id="sqlLoader" 
		class="anyframe.core.query.impl.config.loader.SQLLoader">
			
		<config:configuration>
	        <filename>classpath*:queries/oracle/**/mapping-*.xml</filename>
	   	    <nullcheck type="VARCHAR" default-value=""/> 
		</config:configuration>					
	</bean>	
	
	<bean id="lobHandler" 
		class="org.springframework.jdbc.support.lob.OracleLobHandler" 
		lazy-init="true">
		<property name="nativeJdbcExtractor">
			<ref local="nativeJdbcExtractor"/>
		</property>
	</bean>
	
	<bean id="nativeJdbcExtractor" 
		class="org.springframework.jdbc.support.nativejdbc.CommonsDbcpNativeJdbcExtractor" 
		lazy-init="true">
	</bean>
	-->
</beans>
