<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean 
		id="biz1Manager" 
		class="org.codelabor.example.managers.Biz1ManagerImpl">
		<property name="queryService" ref="oracleQueryService"/>
	</bean>
	<bean 
		id="biz2Manager" 
		class="org.codelabor.example.managers.Biz2ManagerImpl">
		<property name="queryService" ref="oracleQueryService"/>
	</bean>		
</beans>
