<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean
		id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<!-- anyframe message -->
				<value>anyframe/core/properties/messages/properties</value>
				<value>anyframe/core/idgen/messages/idgeneration</value>
				<value>anyframe/core/process/messages/process</value>
				<value>anyframe/core/adaptormanager/messages/adaptormanager</value>
				<value>anyframe/core/query/messages/query</value>

				<!-- example message -->
				<value>messages/example/example</value>
				<value>messages/example/curd/crudService</value>
				<value>messages/example/emp/empService</value>
				<value>messages/example/errorService</value>

				<!-- system message -->
				<value>messages/system/accessLogService</value>
			</list>
		</property>
	</bean>
</beans>
