<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="file" class="ch.qos.logback.core.FileAppender">
  	<encoder>
  		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
  	</encoder>
  	<file>file.log</file>
  </appender>
  <appender name="socket" class="ch.qos.logback.classic.net.SocketAppender">
  	<port>9000</port>
  	<remoteHost>localhost</remoteHost>
  	<reconnectionDelay>60000</reconnectionDelay>
  	<includeCallerData>true</includeCallerData>
  </appender>
  
  <appender name="asyncConsole" class="ch.qos.logback.classic.AsyncAppender">
  	<appender-ref ref="console" />
  	<includeCallerData>true</includeCallerData>
  </appender>
  <appender name="asyncFile" class="ch.qos.logback.classic.AsyncAppender">
  	<appender-ref ref="file" />
  	<includeCallerData>true</includeCallerData>
  </appender>  

  <root level="debug">
  	<appender-ref ref="asyncConsole" />
    <appender-ref ref="asyncFile" />
    <appender-ref ref="socket" />
    <!--  
    <appender-ref ref="console" />
    <appender-ref ref="file" />
    -->
  </root>
</configuration>